<div class="page-configuracion">
    <mat-card class="box-filtros">
      <mat-card-header class="box-section-header">
        <mat-card-title class="box-section-title">EXÁMENES MÉDICOS</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="form form-solicitud" [formGroup]="marcadorForm">
          <mat-grid-list cols="12" rowHeight="35px">
            <mat-grid-tile [responsiveRows]="{xs: 11, sm: 11, md: 11, lg: 11, xl: 11}">
              <mat-form-field appearance="fill">
                <mat-label>DESCRIPCION</mat-label>
                <input matInput [appAlphaNumerico]="{size: 100}" [appUpperCase] formControlName="descripcion">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [responsiveRows]="{xs: 1, sm: 1, md: 1, lg: 1, xl: 1}">
              <button mat-icon-button type="button" class="btn-action-search" color="primary"
                (click)="accionMarcador()">
                <mat-icon>search</mat-icon>
              </button>
            </mat-grid-tile>
          </mat-grid-list>
        </form>
      </mat-card-content>
  
      <mat-card class="box-resultados">
        <mat-card-content class="card-container">
          <div class="table-container">
            <table mat-table [dataSource]="dataSource" matSort>
  
              <ng-container matColumnDef="codExamenMedLargo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header >CODIGO</th>
                  <td mat-cell *matCellDef="let row">{{row.codExamenMedLargo}}</td>
              </ng-container>
  
              <ng-container matColumnDef="descripcion">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header >DESCRIPCION</th>
                  <td mat-cell *matCellDef="let row">{{row.descripcion}}</td>
              </ng-container>
  
              <ng-container matColumnDef="examen">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header >TIPO EXÁMEN</th>
                  <td mat-cell *matCellDef="let row">{{row.examen}}</td>
              </ng-container>
  
              <ng-container matColumnDef="tipoIngreso">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header >TIPO INGRESO RESULTADO</th>
                  <td mat-cell *matCellDef="let row">{{row.tipoIngreso}}</td>
              </ng-container>
  
              <ng-container matColumnDef="unidadMedida">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header >UNIDAD DE MEDIDA</th>
                  <td mat-cell *matCellDef="let row">{{row.unidadMedida}}</td>
              </ng-container>
  
              <ng-container matColumnDef="rango">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header >RANGO</th>
                  <td mat-cell *matCellDef="let row">{{row.rango}}</td>
              </ng-container>
  
              <ng-container matColumnDef="estado">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header >ESTADO</th>
                  <td mat-cell *matCellDef="let row">{{row.estado}}</td>
              </ng-container>
  
              <ng-container matColumnDef="opciones">
                  <th mat-header-cell *matHeaderCellDef> EDITAR </th>
                  <td mat-cell *matCellDef="let element">
                    <button class="tableIconButton" mat-icon-button matTooltip="Editar Exámen Médico" (click)="openEditarMarcador(element)">
                      <mat-icon>create</mat-icon>
                    </button>
                  </td>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
            </table>
  
            <div class="empty" *ngIf="!isLoadingResults && ( resultsLength == 0 || resultsLength == null)">
              No existe datos para mostrar en la tabla
            </div>
    
            <mat-card *ngIf="isLoadingResults" class="spinerTable">
              <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
            </mat-card>
    
            <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"></mat-paginator>
          </div>
        </mat-card-content>
      </mat-card>
  
      <mat-card-actions class="btnActions" align="end">
        <div class="btnAdd">
          <button mat-raised-button color="primary" (click)="openRegistrarMarcador()">
              <mat-icon inline=true>add_box</mat-icon>
              <strong>NUEVO EXÁMEN MÉDICO</strong>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>