<mat-card class="cardPasos">
  <mat-card-content>
    <form [formGroup]="condBasalFrmGrp" novalidate>
      <mat-grid-list cols="12" rowHeight="60px">
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 12, lg: 12, xl: 12}"
        *ngIf="( txtAntecedentes === valorMostrarOpcion ) || flagEvaluacion" class="centrarMensajesError">
          <mat-form-field appearance="fill" style="height: 55px;">
            <mat-label> ANTECEDENTES DE IMPORTANCIA: </mat-label>
            <textarea class="taCondicionBasal" matInput
              formControlName="antResulBasalFrmCtrl"></textarea>
              <mat-error *ngIf="formGroup1Mensaje.antResulBasalFrmCtrl && fc1.antResulBasalFrmCtrl.hasError">
                <mat-error *ngFor="let validation of formGroup1Mensaje.antResulBasalFrmCtrl">
                  <mat-error class="error-message" *ngIf="condBasalFrmGrp.get('antResulBasalFrmCtrl').hasError(validation.type)">
                    {{validation.message}}</mat-error>
                </mat-error>
              </mat-error>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-divider class="dividir"></mat-divider>
      <mat-grid-list cols="12" rowHeight="43px">
        <mat-grid-tile colspan="3" rowspan="1"
        *ngIf="( cmbLineaMetastasisRol === valorMostrarOpcion ) || flagEvaluacion">
          <mat-form-field appearance="fill">
            <mat-label>LÍNEA METÁSTASIS</mat-label>
            <mat-select formControlName="lineaMetaFrmCtrl">
              <mat-option *ngFor="let linea of cmbLineaMetastasis" [value]="linea"
                [disabled]="linea.codigoParametro === null">
                {{linea.nombreParametro}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="3"
        *ngIf="( btnAgregar === valorMostrarOpcion ) || flagEvaluacion">
          <button mat-icon-button type="button" color="primary" (click)="addLineaMetastasis($event)" matTooltip="Agregar metástasis">
            <mat-icon>add_circle_outline</mat-icon>
          </button>
        </mat-grid-tile>
        <mat-grid-tile colspan="8" rowspan="3">
          <mat-card class="table-resultados">
            <mat-card-header>
            </mat-card-header>
            <mat-card-content class="card-container tableMeta">
              <div class="table-container clear-both">
                <table mat-table [dataSource]="dataSourceMetas">

                  <ng-container *ngFor="let column of columnsMetastasis" [matColumnDef]="column.columnDef">
                    <th mat-header-cell *matHeaderCellDef> {{ column.header }} </th>
                    <td mat-cell *matCellDef="let row"> {{ column.cell(row) }} </td>
                  </ng-container>

                  <ng-container matColumnDef="accion" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                      <button type="button" class="tableIconButton" mat-icon-button matTooltip="Eliminar"
                        (click)="eliminarLineaMetastasis($event, element)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumnsMetas; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsMetas;"></tr>

                </table>

                <div class="empty"
                  *ngIf="!isLoadingMetas && (dataSourceMetas === null || metastasisLista.length === 0) ">
                  No existe datos para mostrar en la tabla
                </div>

                <mat-card *ngIf="isLoadingMetas" class="spinerTable">
                  <mat-progress-spinner color="primary" mode="indeterminate">
                  </mat-progress-spinner>
                </mat-card>

              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="3" rowspan="1"
        *ngIf="( cmbLugarMetastasisRol === valorMostrarOpcion ) || flagEvaluacion">
          <mat-form-field appearance="fill">
            <mat-label>LUGAR METÁSTASIS:</mat-label>
            <mat-select formControlName="lugarMetaFrmCtrl">
              <mat-option *ngFor="let lugar of cmbLugarMetastasis" [value]="lugar"
                [disabled]="lugar.codigoParametro === null">
                {{lugar.nombreParametro}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-divider class="dividir"></mat-divider>
      <mat-grid-list cols="12" rowHeight="50px">
        <mat-grid-tile [responsiveRows]="{xs: 4, sm: 4, md: 2, lg: 2, xl: 2}"
        *ngIf="( cmbEcogRol === valorMostrarOpcion ) || flagEvaluacion">
          <mat-form-field appearance="fill">
            <mat-label>ECOG</mat-label>
            <mat-select formControlName="ecogFrmCtrl">
              <mat-option *ngFor="let ecog of cmbEcog" [value]="ecog.codigoParametro" [disabled]="ecog.codigoParametro === null">
                {{ecog.nombreParametro}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 6, lg: 6, xl: 6}"
        *ngIf="( txtExisteToxicidad === valorMostrarOpcion ) || flagEvaluacion">
          <div class="containerRadio">
            <div class="radioGroup">
              <mat-label>EXISTE TOXICIDAD:</mat-label>
              <mat-radio-group (change)="verificarToxicidad($event)" formControlName="existeToxiFrmCtrl">
                <mat-radio-button *ngFor="let row of rbtExisteToxi" [value]="row.codigo">
                  {{row.titulo}}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile [responsiveRows]="{xs: 4, sm: 4, md: 4, lg: 4, xl: 4}"
        *ngIf="( cmbTipoToxicidadRol === valorMostrarOpcion ) || flagEvaluacion">
          <mat-form-field appearance="fill">
            <mat-label>TIPO TOXICIDAD:</mat-label>
            <mat-select formControlName="tipoToxicidadFrmCtrl">
              <mat-option *ngFor="let tipoToxi of cmbTipoToxicidad" [value]="tipoToxi.codigoParametro"
                [disabled]="tipoToxi.codigoParametro === null">
                {{tipoToxi.nombreParametro}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
    <mat-divider class="dividir"></mat-divider>
    <mat-card class="table-resultados">
      <mat-card-header>
        <mat-card-title> RESULTADO BASAL DE MARCADORES: </mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-container">
        <div class="sinResultado" *ngIf="!resultadoBasal">
          <mat-progress-bar *ngIf="barResultBasal" mode="indeterminate"></mat-progress-bar>
          <h3 *ngIf="!barResultBasal">{{mensajeResultadoBasal}}</h3>
        </div>
        <div *ngIf="resultadoBasal">
          <form [formGroup]="tableBasalFrmGrp" novalidate>
            <div class="table-container clear-both">
              <table mat-table [dataSource]="dataSourceResBasal">

                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element; let i = index">{{i+1}}</td>
                </ng-container>

                <ng-container matColumnDef="descripcionExamenMed" >
                  <th mat-header-cell *matHeaderCellDef> EXÁMEN MÉDICO </th>
                  <td mat-cell *matCellDef="let row"> {{row.descripcionExamenMed}} </td>
                </ng-container>

                <ng-container matColumnDef="rango">
                  <th mat-header-cell *matHeaderCellDef> RANGO </th>
                  <td mat-cell *matCellDef="let row">{{row.rango}} </td>
                </ng-container>

                <ng-container matColumnDef="resultado" >
                  <th mat-header-cell *matHeaderCellDef> RESULTADO </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-form-field appearance="fill" *ngIf="row.tipoIngresoResul === 122" style="width: 8em;">
                      <input matInput type="number" [formControlName]="'r'+row.codResultadoBasal"
                        [value]="row.resultado"> <strong style="padding-left: 24px;">{{row.unidadMedida}}</strong>
                      <mat-error
                        *ngIf="tableBasalFrmGrp.controls['r'+row.codResultadoBasal].touched && tableBasalFrmGrp.controls['r'+row.codResultadoBasal].hasError('range')">
                        FUERA DE RANGO
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" *ngIf="row.tipoIngresoResul === 123" style="width: 15em;">
                      <mat-select [formControlName]="'r'+row.codResultadoBasal" [value]="row.resultado">
                        <mat-option *ngFor="let result of row.cmbValorFijo" [value]="result.codExamenMedDetalle">
                          {{result.valorFijo}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" *ngIf="row.tipoIngresoResul === 124">
                      <input matInput type="text" [appUpperCase] [appAlphaNumerico]="{size:500}"
                        [formControlName]="'r'+row.codResultadoBasal" [value]="row.resultado">
                    </mat-form-field>
                  </td>
                </ng-container>

                <ng-container matColumnDef="fecResultado" >
                  <th mat-header-cell *matHeaderCellDef> FECHA RESULTADO </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-form-field appearance="fill" style="width: 10em;">
                      <input matInput [max]="maxDate" [matDatepicker]="dpResultado" style="padding-bottom: .7em;"
                        [formControlName]="'f'+row.codResultadoBasal" [appOnlyDate]="{type: 'date'}">
                      <mat-datepicker-toggle matSuffix [for]="dpResultado"></mat-datepicker-toggle>
                      <mat-datepicker #dpResultado></mat-datepicker>
                    </mat-form-field>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsResBasal; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsResBasal;"></tr>

              </table>

              <div class="empty" *ngIf="!isLoadingBasal && dataSourceResBasal === null">
                No existe datos para mostrar en la tabla
              </div>

              <mat-card *ngIf="isLoadingBasal" class="spinerTable">
                <mat-progress-spinner color="primary" mode="indeterminate">
                </mat-progress-spinner>
              </mat-card>

            </div>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
  <ng4-loading-spinner></ng4-loading-spinner>
</mat-card>
