<div class="mat-dialog-header">
  <h1 class="mat-dialog-title" mat-dialog-title> BUSCAR CLINICA </h1>
</div>
<div class="mat-dialog-content modal-body" mat-dialog-content>
  <mat-card class="modalCard">
    <form class="form form-solicitud clinicaCtrl" novalidate [formGroup]="buscarClinicaFrmGrp">
      <mat-grid-list cols="12" rowHeight="35px">
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 12, lg: 12, xl: 12}">
          <mat-form-field appearance="fill">
            <mat-label>CLÍNICA</mat-label>
            <input cdkFocusInitial matInput formControlName="clinicaFrmCtrl" oninput="this.value = this.value.toUpperCase()">
            <button mat-icon-button (click)="buscarClinica()" class="btn-action">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card>
  <mat-card class="table-resultados">
    <mat-card-header>
      <mat-card-title> RESULTADOS DE LA BÚSQUEDA </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-container">
      <div class="table-container clear-both">
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container *ngFor="let column of columnsGrilla" [matColumnDef]="column.columnDef">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.header }} </th>
            <td mat-cell *matCellDef="let row"> {{ column.cell(row) }} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="seleccionarFila(row)"></tr>
        </table>

        <div class="empty" *ngIf="!isLoading && dataSource === null">
          No existe datos para mostrar en la tabla
        </div>

        <mat-card *ngIf="isLoading" class="spinerTable">
          <mat-progress-spinner color="primary" mode="indeterminate">
          </mat-progress-spinner>
        </mat-card>

        <mat-paginator class="mat-paginator-sticky" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
        </mat-paginator>

      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="mat-dialog-actions modal-footer">
  <button mat-raised-button (click)="opcionSalir()">
    <strong>SALIR</strong>
  </button>
</div>
