<mat-card class="cardPasos">
  <mat-card-content>
    <div *ngIf="mostrarDocumentos">
      <mat-divider></mat-divider>
      <ul class="listaRequeridos">
        <li *ngFor="let doc of docRequeridos">
          <mat-grid-list cols="12" rowHeight="45px">
            <mat-grid-tile [responsiveRows]="{xs: 1, sm: 1, md: 1, lg: 1, xl: 1}">
              <mat-icon class="icon-green" *ngIf="doc.estado" inline=true>check_box</mat-icon>
              <mat-icon class="icon-green" *ngIf="!doc.estado" inline=true>check_box_outline_blank</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 3, lg: 3, xl: 3}">
              <mat-label class="labelDocumento">{{doc.descripcionDocumento}} (*)</mat-label>
              <mat-label class="labelSubDocumento" *ngIf="doc.subtitle !== ''">{{doc.subtitle}}</mat-label>
            </mat-grid-tile>
            <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 2, lg: 2, xl: 2}">
              <mat-label class="labelCargado" *ngIf="doc.estado && !doc.cargando">{{doc.descripcionEstado}}</mat-label>
              <div class="containerSpinner" *ngIf="doc.cargando">
                <span>Cargando...</span>
                <mat-spinner class="spinner" diameter="20"></mat-spinner>
              </div>
            </mat-grid-tile>
            <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 1, lg: 1, xl: 1}">
              <button class="tableIconButton" mat-icon-button matTooltip="Cargar Archivo" (click)="fileInput.click()"
                *ngIf="!doc.estado">
                <mat-icon>attach_file</mat-icon>
                <input #fileInput type="file" (change)="openFileRequerido(doc,$event)" style="display:none;"
                  accept="application/pdf" />
              </button>
              <button class="tableIconButton" mat-icon-button matTooltip="Eliminar" (click)="eliminarRequeridosDoc(doc)"
                *ngIf="doc.estado">
                <mat-icon class="icon-red">delete</mat-icon>
              </button>
            </mat-grid-tile>
          </mat-grid-list>
        </li>
      </ul>
      <mat-divider></mat-divider>
      <ul class="listaNoRequeridos">
        <li *ngFor="let docOtro of docOtros">
          <mat-grid-list cols="12" rowHeight="45px">
            <mat-grid-tile [responsiveRows]="{xs: 1, sm: 1, md: 1, lg: 1, xl: 1}">
              <mat-icon class="icon-green" inline=true *ngIf="docOtro.estado">check_box</mat-icon>
              <mat-icon class="icon-green" *ngIf="!docOtro.estado" inline=true>check_box_outline_blank</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 3, lg: 3, xl: 3}">
              <mat-label class="labelDocumento">{{docOtro.descripcionDocumento}}</mat-label>
            </mat-grid-tile>
            <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 2, lg: 2, xl: 2}">
              <mat-label class="labelCargado" *ngIf="docOtro.estado && !docOtro.cargando">{{docOtro.descripcionEstado}}
              </mat-label>
              <div class="containerSpinner" *ngIf="docOtro.cargando">
                <span>Cargando...</span>
                <mat-spinner class="spinner" diameter="20"></mat-spinner>
              </div>
            </mat-grid-tile>
            <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 1, lg: 1, xl: 1}">
              <button class="tableIconButton" mat-icon-button *ngIf="docOtro.estado" (click)="eliminarOtrosDoc(docOtro)"
                matTooltip="Eliminar">
                <mat-icon class="icon-red">delete</mat-icon>
              </button>
            </mat-grid-tile>
          </mat-grid-list>
        </li>
      </ul>
    </div>
    <div *ngIf="!mostrarDocumentos">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <mat-divider></mat-divider>
    <ul class="nuevoDocumento" *ngIf="( txtDescripcion === valorMostrarOpcion ) || flagEvaluacion">
      <li>
        <mat-grid-list cols="12" rowHeight="45px">
          <mat-grid-tile [responsiveRows]="{xs: 1, sm: 1, md: 1, lg: 1, xl: 1}">
            <mat-icon class="icon-green" inline=true>check_box_outline_blank</mat-icon>
          </mat-grid-tile>
          <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 3, lg: 3, xl: 3}">
            <mat-label class="labelDocumento">OTRO DOCUMENTO</mat-label>
          </mat-grid-tile>
          <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 2, lg: 2, xl: 2}">
            <mat-form-field appearance="fill">
              <mat-label>DESCRIPCIÓN</mat-label>
              <input matInput [appUpperCase] [appAlphaNumerico]="{size: 20, tipo: 'text'}"
                [(formControl)]="desDocuNuevo" (keyup)="verDescripDocumentos()">
              <mat-error *ngIf="desDocuNuevo.hasError('invalidDescription') && desDocuNuevo.touched">
                Descripción ya fue registrada
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 2, lg: 1, xl: 1}">
            <button class="tableIconButton" mat-icon-button matTooltip="Cargar Archivo" [disabled]="activarOpenFile"
              (click)="fileUpload.click()">
              <mat-icon>attach_file</mat-icon>
              <input #fileUpload type="file" type="file" (click)="fileUpload.value = null" (change)="openFile($event)"
                accept="application/pdf" style="display:none" />
            </button>
          </mat-grid-tile>
        </mat-grid-list>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
<ng4-loading-spinner></ng4-loading-spinner>
<mat-card class="table-resultados">
  <mat-card-header>
    <mat-card-title> DOCUMENTACIÓN HISTÓRICA DEL PACIENTE: </mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-container">
    <div class="table-container clear-both">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container *ngFor="let column of columnsGrilla" [matColumnDef]="column.columnDef">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.header }} </th>
          <td mat-cell *matCellDef="let row" title="{{ column.cell(row) }}"> {{ column.cell(row) }} </td>
        </ng-container>

        <ng-container matColumnDef="descargar" stickyEnd>
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button class="tableIconButton" mat-icon-button matTooltip="Descargar documento"
              (click)="descargarDocumento(element)">
              <mat-icon>picture_as_pdf</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

      <div class="empty" *ngIf="!isLoading && dataSource === null">
        No existe datos para mostrar en la tabla
      </div>

      <mat-card *ngIf="isLoading" class="spinerTable">
        <mat-progress-spinner color="primary" mode="indeterminate">
        </mat-progress-spinner>
      </mat-card>

      <mat-paginator class="mat-paginator-sticky" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
      </mat-paginator>

    </div>
  </mat-card-content>
</mat-card>
