<div class="page-configuracion">
  <mat-card class="box-filtros">
    <mat-card-header class="box-section-header">
      <mat-card-title class="box-section-title">MEDICAMENTOS DE ALTA COMPLEJIDAD</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="form form-solicitud" [formGroup]="configuracionFrmGrp">
        <mat-grid-list cols="12" rowHeight="35px">
          <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 5, lg: 5, xl: 5}">
            <mat-form-field appearance="fill">
              <mat-label>CODIGO MAC</mat-label>
              <input matInput [appOnlyNumber]="{size: 5}" formControlName="filtroCodMACFrmCtrl">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 6, lg: 6, xl: 6}">
            <mat-form-field appearance="fill">
              <mat-label>DESCRIPCION MAC</mat-label>
              <input matInput [appAlphaNumerico]="{size: 100}" [appUpperCase] formControlName="filtroDescMACFrmCtrl">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 1, lg: 1, xl: 1}">
            <button mat-icon-button type="button" class="btn-action-search" color="primary"
              (click)="eventoFiltrarMAC()">
              <mat-icon>search</mat-icon>
            </button>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </mat-card-content>

    <mat-card class="box-resultados">
      <mat-card-content class="card-container">
        <div class="table-container">
          <table mat-table [dataSource]="dataSource" matSort>

            <ng-container *ngFor="let column of columnsGrilla" [matColumnDef]="column.columnDef">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.header }} </th>
              <td mat-cell *matCellDef="let row"> {{ column.cell(row) }} </td>
            </ng-container>

            <ng-container matColumnDef="detalleCheckList" stickyEnd>
              <th mat-header-cell *matHeaderCellDef> CheckList </th>
              <td mat-cell *matCellDef="let element">
                <button class="tableIconButton" mat-icon-button matTooltip="Registrar CheckList del Paciente"
                  (click)="verDetalleCheckList(element)">
                  <mat-icon>playlist_add_check</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="detalleFichaTecnica" stickyEnd>
              <th mat-header-cell *matHeaderCellDef> Ficha Tecnica </th>
              <td mat-cell *matCellDef="let element">
                <button class="tableIconButton" mat-icon-button matTooltip="Registrar Ficha Técnica"
                  (click)="verDetalleFichaTecnica(element)">
                  <mat-icon>assignment</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="detalleComplicacionesMedicas" stickyEnd>
              <th mat-header-cell *matHeaderCellDef> Complicaciones Médicas </th>
              <td mat-cell *matCellDef="let element">
                <button class="tableIconButton" mat-icon-button matTooltip="Registrar Complicaciones Médicas"
                  (click)="verDetalleComplicacionesMedicas(element)">
                  <mat-icon>file_copy</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="detalleProductosAsociados" stickyEnd>
              <th mat-header-cell *matHeaderCellDef> Productos Asociados </th>
              <td mat-cell *matCellDef="let element">
                <button class="tableIconButton" mat-icon-button matTooltip="Registrar Productos Asociados"
                  (click)="verDetalleProductosAsociados(element)">
                  <mat-icon>layers</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="detalleMarcadores" stickyEnd>
              <th mat-header-cell *matHeaderCellDef> Marcadores </th>
              <td mat-cell *matCellDef="let element">
                <button class="tableIconButton" mat-icon-button matTooltip="Registrar Marcadores"
                  (click)="verDetalleMarcadores(element)">
                  <mat-icon>local_offer</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="editar" stickyEnd>
              <th mat-header-cell *matHeaderCellDef> Editar </th>
              <td mat-cell *matCellDef="let element">
                <button class="tableIconButton" mat-icon-button matTooltip="Editar MAC" (click)="verEditar(element)">
                  <mat-icon>create</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>

          <div class="empty" *ngIf="!isLoading && dataSource === null">
            No existe datos para mostrar en la tabla
          </div>

          <mat-card *ngIf="isLoading" class="spinerTable">
            <mat-progress-spinner color="primary" mode="indeterminate">
            </mat-progress-spinner>
          </mat-card>

          <mat-paginator class="mat-paginator-sticky" [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons>
          </mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card-actions class="btnActions" align="end">
      <div class="btnAdd">
        <button mat-raised-button color="primary" (click)="nuevoMac()">
          <mat-icon inline=true>add_box</mat-icon>
          <strong>NUEVO MAC</strong>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
