<div class="page-reporte-generales">
  <ng4-loading-spinner [timeout]="400000" [zIndex]="9999"></ng4-loading-spinner>
  <mat-card class="box-filtros">
    <mat-card-header class="box-section-header">
      <mat-card-title class="box-section-title"> REPORTES GENERALES </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="reporteFrmGrp">
        <mat-grid-list cols="12" rowHeight="60px">
          <mat-grid-tile [responsiveRows]="{xs: 4, sm: 3, md: 3, lg: 2, xl: 2}">
            <mat-form-field appearance="fill">
              <mat-label>AÑO</mat-label>
              <mat-select formControlName="anhosPreFrmCtrl" (selectionChange)="mostrarFechaTabla()">
                <mat-option *ngFor="let year of cmbAnhos" [value]="year.Anho">
                  {{year.Anho}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [responsiveRows]="{xs: 4, sm: 3, md: 3, lg: 2, xl: 2}">
            <mat-form-field appearance="fill">
              <mat-label>MES</mat-label>
              <mat-select formControlName="mesesPreFrmCtrl" (selectionChange)="mostrarFechaTabla()">
                <mat-option *ngFor="let mes of cmbMeses" [value]="mes.IdMes">
                  {{mes.Mes}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [responsiveRows]="{xs: 4, sm: 3, md: 3, lg: 2, xl: 2}">
            <button mat-raised-button color="primary" (click)="visualizarReportesPreCargados()">
              <mat-icon>build</mat-icon>
              <strong>GENERAR REPORTES</strong>
            </button>
          </mat-grid-tile>

        </mat-grid-list>
      </form>
    </mat-card-content>

  </mat-card>


  <mat-card class="table-resultados">
    <mat-card-content>
      <div class="table-container clear-both">
        <table mat-table [dataSource]="dataSourceReporteG" matSort>

          <ng-container matColumnDef="reportes">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> REPORTES GENERALES </th>
            <td mat-cell *matCellDef="let row"><b>REPORTE {{row.id}}:</b> {{ row.reportes }} </td>
          </ng-container>

          <ng-container matColumnDef="verExcel">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <button class="tableIconButton" mat-icon-button
                matTooltip="VER REPORTE"
                [disabled]="!verReportes"
                (click)="verReporteGeneral(row)">
                <mat-icon svgIcon="excel-icon"></mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayColumnsReporteG; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayColumnsReporteG;"
            [ngClass]="{solbenRow: row.alertSCGSolben}"></tr>
        </table>

        <mat-paginator class="mat-paginator-sticky" [pageSizeOptions]="[10, 25, 100, 200]" showFirstLastButtons>
        </mat-paginator>

      </div>

    </mat-card-content>
  </mat-card>

</div>
