<div class="forgot">
  <mat-grid-list cols="1" rowHeight="100%">

    <mat-grid-tile>
      <div class="page-forgot">
        <div class="main-div"></div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
          <mat-card class="card">

            <mat-card-header>
              <mat-card-title>NUEVA CONTRASEÑA</mat-card-title>
              <mat-card-subtitle>Introduce tu nueva contraseña.</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
              <form class="example-form p-2em" [formGroup]="valForm" (ngSubmit)="resetPassword($event)">

                <mat-form-field appearance="fill" class="nuevaContraFrm">
                  <mat-label>Nueva contraseña</mat-label>
                  <input matInput formControlName="nuevaContraFrm" type="password">
                  <mat-error *ngIf="hasError('nuevaContraFrm', 'pattern')">Constraseña inválida: Min. 8 carácteres, mayúsculas, números y caracter especial</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Confirmar contraseña</mat-label>
                  <input matInput formControlName="confirContraFrm" type="password">

                </mat-form-field>

                <div class="btn-reset">
                  <button mat-raised-button color="primary" type="submit">Guardar</button>
                </div>

              </form>
            </mat-card-content>

          </mat-card>
        </div>
      </div>
    </mat-grid-tile>

  </mat-grid-list>
</div>
