<div class="mat-dialog-header">
  <h1 class="mat-dialog-title" mat-dialog-title> {{data.title}} </h1>
</div>
<div class="mat-dialog-content modalTable" mat-dialog-content>
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container *ngFor="let column of columnsGrilla" [matColumnDef]="column.columnDef">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.header }} </th>
        <td mat-cell *matCellDef="let row"> {{ column.cell(row) }} </td>
      </ng-container>

      <ng-container matColumnDef="verInforme"> <!--stickyEnd>-->
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button class="tableIconButton" mat-icon-button matTooltip="Ver informe"
            (click)="mostrarInforme(element)">
            <mat-icon>picture_as_pdf</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="empty" *ngIf="!isLoading && dataSource === null">
      No existe datos para mostrar en la tabla
    </div>

    <mat-card *ngIf="isLoading" class="spinerTable">
      <mat-progress-spinner color="primary" mode="indeterminate">
      </mat-progress-spinner>
    </mat-card>

    <mat-paginator class="mat-paginator-sticky" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
    </mat-paginator>

  </div>
</div>
<div class="mat-dialog-actions modal-footer">
  <button mat-raised-button (click)="opcionSalir()">
    <strong>SALIR</strong>
  </button>
</div>