<form class="form" [formGroup]="prefInstFrmGrp" novalidate>
  <mat-card class="cardPasos">
    <mat-card-content>
      <mat-card class="cardTratamiento">
        <mat-card-header>
          <mat-card-title> DATOS DE LA NUEVA LÍNEA DE TRATAMIENTO </mat-card-title>
        </mat-card-header>
        <mat-grid-list cols="12" rowHeight="45px">
          <mat-grid-tile [responsiveRows]="{xs: 6, sm: 6, md: 4, lg: 4, xl: 4}"
          *ngIf="( txtNumeroLinea === valorMostrarOpcion ) || flagEvaluacion">
            <mat-form-field class="soloLeer" appearance="fill">
              <mat-label>NÚMERO DE LÍNEA</mat-label>
              <input readonly matInput formControlName="nroLineaTrataFrmCtrl">
              <mat-error *ngIf="nroLineaTrataFrmCtrl.touched && nroLineaTrataFrmCtrl.hasError('required')">
                Campo es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="12" rowHeight="45px">
          <mat-grid-tile [responsiveRows]="{xs: 6, sm: 6, md: 4, lg: 4, xl: 4}"
          *ngIf="( cmbNumeroCurso === valorMostrarOpcion ) || flagEvaluacion">
            <mat-form-field appearance="fill">
              <mat-label>NRO. CURSOS</mat-label>
              <mat-select formControlName="nroCursoFrmCtrl">
                <mat-option *ngFor="let row of listaNroCursos" [value]="row.codigoParametro"
                  [disabled]="row.codigoParametro === null">
                  {{row.nombreParametro}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="nroCursoFrmCtrl.touched && nroCursoFrmCtrl.hasError('required')">
                Campo es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="12" rowHeight="45px">
          <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}"
          *ngIf="( cmbTipoTumor === valorMostrarOpcion ) || flagEvaluacion">
            <mat-form-field appearance="fill">
              <mat-label>TIPO DE TUMOR</mat-label>
              <mat-select formControlName="tipoTumorFrmCtrl" (selectionChange)="cargarRptaAlcanzada($event)">
                <mat-option *ngFor="let row1 of listaTipoTumor" [value]="row1.codigoParametro"
                  [disabled]="row1.codigoParametro === null">
                  {{row1.nombreParametro}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="tipoTumorFrmCtrl.touched && tipoTumorFrmCtrl.hasError('required')">
                Campo es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}"
          *ngIf="( cmbRespuestaAlcanzada === valorMostrarOpcion ) || flagEvaluacion">
            <mat-form-field appearance="fill">
              <mat-label>RESPUESTA ALCANZADA</mat-label>
              <mat-select formControlName="respAlcanzadaFrmCtrl">
                <mat-option [value]="null" *ngIf="listaRespAlcanzada.length === 0">
                  <div class="containerSpinner">
                    <span>Cargando...</span>
                    <mat-spinner class="spinner" diameter="20"></mat-spinner>
                  </div>
                </mat-option>
                <mat-option *ngFor="let row2 of listaRespAlcanzada" [value]="row2.codigoParametro"
                  [disabled]="row2.codigoParametro === null">
                  {{row2.nombreParametro}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="respAlcanzadaFrmCtrl.touched && respAlcanzadaFrmCtrl.hasError('required')">
                Campo es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="12" rowHeight="45px">
          <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 4, lg: 4, xl: 4}"
          *ngIf="( cmbLugarProgresion === valorMostrarOpcion ) || flagEvaluacion">
            <mat-form-field appearance="fill">
              <mat-label>LUGAR PROGRESIÓN / RECURRENCIA / RECAÍDA</mat-label>
              <mat-select formControlName="lugarProgresionFrmCtrl">
                <mat-option *ngFor="let row3 of listaLugarProgresion" [value]="row3.codigoParametro"
                  [disabled]="row3.codigoParametro === null">
                  {{row3.nombreParametro}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="lugarProgresionFrmCtrl.touched && lugarProgresionFrmCtrl.hasError('required')">
                Campo es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
      <mat-card class="cardPreferencia">
        <mat-card-header>
          <mat-card-title> PREFERENCIAS INSTITUCIONALES </mat-card-title>
        </mat-card-header>
        <mat-card-content *ngIf="!verPrefInstitucionales">
          <mat-grid-list cols="12" rowHeight="45px">
            <mat-grid-tile [responsiveRows]="{xs: 6, sm: 6, md: 4, lg: 4, xl: 4}"
            *ngIf="( txtGrupoDiagnostico === valorMostrarOpcion ) || flagEvaluacion">
              <mat-form-field class="soloLeer" appearance="fill">
                <mat-label>GRUPO DIAGNÓSTICO</mat-label>
                <input readonly matInput formControlName="grupoDiagFrmCtrl">
                <mat-error *ngIf="grupoDiagFrmCtrl.touched && grupoDiagFrmCtrl.hasError('required')">
                  NO <strong> ESPECIFICADO</strong>
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
          <div class="noCriterios">
            No existen criterios registrados para el grupo diagnóstico
          </div>
        </mat-card-content>
        <mat-card-content *ngIf="verPrefInstitucionales">
          <mat-grid-list cols="12" rowHeight="45px">
            <mat-grid-tile [responsiveRows]="{xs: 6, sm: 6, md: 4, lg: 4, xl: 4}"
            *ngIf="( txtGrupoDiagnostico === valorMostrarOpcion ) || flagEvaluacion">
              <mat-form-field appearance="fill">
                <mat-label>GRUPO DIAGNÓSTICO</mat-label>
                <input readonly matInput formControlName="grupoDiagFrmCtrl">
                <mat-error *ngIf="grupoDiagFrmCtrl.touched && grupoDiagFrmCtrl.hasError('required')">
                  Campo es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
          <mat-divider class="dividir"></mat-divider>
          <mat-grid-list cols="12" rowHeight="45px">
            <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 6, lg: 4, xl: 4}"
            *ngIf="( cmbCondicion === valorMostrarOpcion ) || flagEvaluacion">
              <mat-form-field appearance="fill">
                <mat-label>CONDICIÓN</mat-label>
                <mat-select formControlName="condicionCancerFrmCtrl">
                  <mat-option *ngFor="let row4 of listaCondicionCancer" [value]="row4.codigoParametro"
                    [disabled]="row4.codigoParametro === null"
                    (click)="consultarMacTratamiento(false,row4.codigoParametro)">
                    {{row4.nombreParametro}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="condicionCancerFrmCtrl.touched && condicionCancerFrmCtrl.hasError('required')">
                  Campo es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list cols="12" rowHeight="60px">
            <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 8, lg: 8, xl: 8}"
            *ngIf="( cmbDetalleCondicion === valorMostrarOpcion ) || flagEvaluacion">
              <mat-form-field appearance="fill" style="height: 57px;">
                <mat-label>DETALLE CONDICION</mat-label>
                <textarea matInput readonly formControlName="detalleCondicionFrmCtrl"></textarea>
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
          <mat-divider class="dividir"></mat-divider>
          <mat-grid-list cols="12" rowHeight="60px">
            <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 8, lg: 8, xl: 8}"
            *ngIf="( txtTratamiento === valorMostrarOpcion ) || flagEvaluacion">
              <mat-form-field appearance="fill" style="height: 57px;">
                <mat-label>TRATAMIENTO SEGÚN GUÍA</mat-label>
                <textarea matInput readonly formControlName="tratamientoFrmCtrl"></textarea>
                <mat-error *ngIf="tratamientoFrmCtrl.touched && tratamientoFrmCtrl.hasError('required')">
                  Campo es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list cols="12" rowHeight="45px">
            <mat-grid-tile [responsiveRows]="{xs: 9, sm: 6, md: 6, lg: 4, xl: 4}"
            *ngIf="( txtPresentacion === valorMostrarOpcion ) || flagEvaluacion">
              <mat-form-field appearance="fill">
                <mat-label>PRESENTACION NO PERMITIDA</mat-label>
                <input readonly matInput formControlName="presentaNoPermitidaFrmCtrl">
                <mat-error
                  *ngIf="presentaNoPermitidaFrmCtrl.touched && presentaNoPermitidaFrmCtrl.hasError('required')">
                  Campo es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list cols="12" rowHeight="45px">
            <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 6, lg: 4, xl: 4}"
            *ngIf="( txtTipoTratamiento === valorMostrarOpcion ) || flagEvaluacion">
              <mat-form-field appearance="fill">
                <mat-label>TIPO DE TRATAMIENTO SEGÚN GUÍA</mat-label>
                <input readonly matInput formControlName="tipoTratamientoFrmCtrl" name="nro_solicitud_evaluacion">
                <mat-error *ngIf="tipoTratamientoFrmCtrl.touched && tipoTratamientoFrmCtrl.hasError('required')">
                  Campo es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
          <mat-divider class="dividir"></mat-divider>
          <mat-grid-list cols="12" rowHeight="45px">
            <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 6, lg: 6, xl: 6}"
            *ngIf="( txtReferencia === valorMostrarOpcion ) || flagEvaluacion">
              <div class="containerRadio">
                <div class="radioGroup">
                  <mat-label>CUMPLE:</mat-label>
                  <mat-radio-group formControlName="rgPrefInstiFrmCtrl">
                    <mat-radio-button *ngFor="let pref of rbtPrefInsti" [checked]="pref.selected" [value]="pref.codigo"
                      (click)="preferenciaIntitucional(pref.codigo)">
                      {{pref.titulo}}
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list cols="12" rowHeight="60px">
            <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 12, lg: 12, xl: 12}"
            *ngIf="( txtObservacion === valorMostrarOpcion ) || flagEvaluacion">
              <mat-form-field appearance="fill" style="height: 55px;">
                <mat-label>OBSERVACIONES</mat-label>
                <textarea matInput [appUpperCase] [appAlphaNumerico] formControlName="observacionFrmCtrl"></textarea>
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
    <ng4-loading-spinner></ng4-loading-spinner>
  </mat-card>
</form>
