@import "../../../../main";

.cardTratamiento {
  padding: 0.8em 0 0.4em 0 !important;
  margin: 0;
  mat-card-header {
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid $color-primario;
    mat-card-title {
      font-size: 1em;
      font-weight: bold;
      color: $color-titulo;
      margin-bottom: 0 !important;
      padding-bottom: 0.3em;
    }
  }
}

.cardPreferencia {
  padding: 0.4em 0 0.8em 0 !important;
  margin: 0 !important;
  mat-card-header {
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid $color-primario;
    mat-card-title {
      font-size: 1em;
      font-weight: bold;
      color: $color-titulo;
      margin-bottom: 0 !important;
      padding-bottom: 0.3em;
    }
  }
}

mat-card {
  :not([class*="mat-elevation-z"]) {
    box-shadow: none;
  }
}

.noCriterios {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  padding: 2.5em 2.5em 2em 2.5em;
}
