<div class="page-reporte-consumo">
  <ng4-loading-spinner [timeout]="400000" [zIndex]="9999"></ng4-loading-spinner>
  <mat-card class="box-filtros">
    <mat-card-header class="box-section-header">
      <mat-card-title class="box-section-title"> REPORTES DE CONSUMO </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="reporteFrmGrp">
        <mat-grid-list cols="12" rowHeight="60px">
          <mat-grid-tile [responsiveRows]="{xs: 4, sm: 3, md: 3, lg: 2, xl: 2}">
            <mat-form-field appearance="fill">
              <mat-label>AÑO</mat-label>
              <mat-select formControlName="anhosPreFrmCtrl" (selectionChange)="mostrarAnioMes()">
                <mat-option *ngFor="let year of cmbAnhos" [value]="year.Anho">
                  {{year.Anho}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="reporteFrmGrpMensaje.anhosPreFrmCtrl && anhosPreFrmCtrl.hasError">
                <mat-error *ngFor="let validacion of reporteFrmGrpMensaje.anhosPreFrmCtrl">
                  <mat-error class="error-message"
                    *ngIf="reporteFrmGrp.get('anhosPreFrmCtrl').hasError(validacion.type)">
                    {{validacion.message}}</mat-error>
                </mat-error>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [responsiveRows]="{xs: 4, sm: 3, md: 3, lg: 2, xl: 2}">
            <mat-form-field appearance="fill">
              <mat-label>MES</mat-label>
              <mat-select formControlName="mesesPreFrmCtrl" (selectionChange)=mostrarAnioMes()>
                <mat-option *ngFor="let mes of cmbMeses" [value]="mes.IdMes">
                  {{mes.Mes}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="reporteFrmGrpMensaje.mesesPreFrmCtrl && mesesPreFrmCtrl.hasError">
                <mat-error *ngFor="let validacion of reporteFrmGrpMensaje.mesesPreFrmCtrl">
                  <mat-error class="error-message" *ngIf="mesesPreFrmCtrl.hasError(validacion.type)">
                    {{validacion.message}}</mat-error>
                </mat-error>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [responsiveRows]="{xs: 4, sm: 3, md: 3, lg: 3, xl: 3}">
            <button mat-raised-button color="primary" [disabled]="!reporteFrmGrp.valid"
              (click)="visualizarReportesPreCargados()">
              <mat-icon>build</mat-icon> GENERAR REPORTES
            </button>
          </mat-grid-tile>

        </mat-grid-list>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card class="table-resultados">
    <mat-card-content>
      <div class="table-container clear-both">
        <table mat-table [dataSource]="dataSourceReporteC" matSort>

          <ng-container matColumnDef="reportes">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> INDICADORES {{fecha}} </th>
            <td mat-cell *matCellDef="let row"> <b>REPORTE {{ row.id }}:</b> {{row.reportes}} </td>
          </ng-container>

          <ng-container matColumnDef="verExcel">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button class="tableIconButton" mat-icon-button [disabled]="verReportes" matTooltip="Ver Reporte"
                (click)="verReporteIndicador(element)">
                <mat-icon svgIcon="excel-icon"></mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayColumnsReporteC; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayColumnsReporteC;"
            [ngClass]="{solbenRow: row.alertSCGSolben}"></tr>
        </table>

        <mat-paginator class="mat-paginator-sticky" [pageSizeOptions]="[10, 25, 100, 200]" showFirstLastButtons>
        </mat-paginator>

      </div>

    </mat-card-content>
  </mat-card>

</div>
