<div class="mat-dialog-header">
  <h1 class="mat-dialog-title" mat-dialog-title>{{data.title}}</h1>
</div>

<div class="mat-dialog-content modalTable" mat-dialog-content>
  <mat-card class="modalCard" *ngIf="data.tipo==3">
    <mat-card-content>
      <mat-grid-list cols="12" rowHeight="45px">
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 12, lg: 12, xl: 12}">
          <mat-form-field appearance="fill">
            <mat-label>OBSERVACIONES</mat-label>
            <textarea matInput readonly rows="4">
            {{data.evolucion.observacion}}
            </textarea>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
  <mat-card class="modalCard" *ngIf="data.tipo!=3">
    <mat-card-content>
      <form class="form form-solicitud validateForm" [formGroup]="evolucionFrmGrp" novalidate>
        <mat-grid-list cols="12" rowHeight="45px">
          <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 12, lg: 12, xl: 12}" *ngIf="txtMedicamento === valorMostrarOpcion">
            <mat-form-field appearance="fill">
              <mat-label>MEDICAMENTO MAC</mat-label>
              <input matInput formControlName="descMACFrmCtrl" readonly>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 6, lg: 6, xl: 6}" *ngIf="txtlineaTratamiento === valorMostrarOpcion">
            <mat-form-field appearance="fill">
              <mat-label>LINEA TRATAMIENTO</mat-label>
              <input matInput formControlName="lineaTrataFrmCtrl" readonly>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [responsiveRows]="{xs: 6, sm: 6, md: 6, lg: 6, xl: 6}" *ngIf="txtFecInicioLinTrat === valorMostrarOpcion">
            <mat-form-field appearance="fill">
              <mat-label>FECHA INICIO LINEA TRATAMIENTO</mat-label>
              <input matInput readonly formControlName="fIniLineaFormControl">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 6, lg: 6, xl: 6}" *ngIf="txtNroEvolucion === valorMostrarOpcion">
            <mat-form-field appearance="fill">
              <mat-label>N° EVOLUCION</mat-label>
              <input matInput formControlName="nroEvolucionFrmCtrl" readonly>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [responsiveRows]="{xs: 6, sm: 6, md: 6, lg: 6, xl: 6}" *ngIf="txtFecMonitoreo === valorMostrarOpcion">
            <mat-form-field appearance="fill">
              <mat-label>FECHA MONITOREO</mat-label>
              <input matInput [matDatepicker]="dpMonitoreo" formControlName="fMonitoreoFrmCtrl"
                [appOnlyDate]="{type: 'date'}" readonly>
              <mat-datepicker-toggle matSuffix [for]="dpMonitoreo" disabled></mat-datepicker-toggle>
              <mat-datepicker #dpMonitoreo></mat-datepicker>
              <mat-error *ngIf="fMonitoreoFrmCtrl.touched && fMonitoreoFrmCtrl.hasError('required')">
                Fecha Monitoreo es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 6, lg: 6, xl: 6}" *ngIf="cbRespClinica === valorMostrarOpcion">
            <mat-form-field appearance="fill">
              <mat-label>RESPUESTA CLINICA</mat-label>
              <mat-select formControlName="rptaClinicaFrmCtrl">
                <mat-option *ngIf="cmbRptaClinica.length === 0" disabled>
                  <div class="containerSpinner">
                    <span>Cargando...</span>
                    <mat-spinner class="spinner" diameter="20"></mat-spinner>
                  </div>
                </mat-option>
                <mat-option *ngFor="let rptaClinica of cmbRptaClinica" [value]="rptaClinica.codigoParametro"
                  [disabled]="rptaClinica.codigoParametro === null">
                  {{rptaClinica.nombreParametro}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="rptaClinicaFrmCtrl.touched && rptaClinicaFrmCtrl.hasError('required')">
                Respuesta Clinica es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 6, lg: 6, xl: 6}" *ngIf="cbAtenAlertas === valorMostrarOpcion">
            <mat-form-field appearance="fill">
              <mat-label>ATENCION DE ALERTAS</mat-label>
              <mat-select formControlName="atenAlertaFrmCtrl">
                <mat-option *ngIf="cmbAtenAlerta.length === 0" disabled>
                  <div class="containerSpinner">
                    <span>Cargando...</span>
                    <mat-spinner class="spinner" diameter="20"></mat-spinner>
                  </div>
                </mat-option>
                <mat-option *ngFor="let alerta of cmbAtenAlerta" [value]="alerta.codigoParametro"
                  [disabled]="alerta.codigoParametro === null">
                  {{alerta.nombreParametro}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="atenAlertaFrmCtrl.touched && atenAlertaFrmCtrl.hasError('required')">
                Atencion de alertas es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 6, lg: 6, xl: 6}" *ngIf="cbTolerancia === valorMostrarOpcion">
            <mat-form-field appearance="fill">
              <mat-label>TOLERANCIA</mat-label>
              <mat-select formControlName="toleranciaFrmCtrl" (selectionChange)="enableFrmExistToxicidad()">
                <mat-option *ngIf="cmbTolerancia.length === 0" disabled>
                  <div class="containerSpinner">
                    <span>Cargando...</span>
                    <mat-spinner class="spinner" diameter="20"></mat-spinner>
                  </div>
                </mat-option>
                <mat-option *ngFor="let tolerancia of cmbTolerancia" [value]="tolerancia.codigoParametro"
                  [disabled]="tolerancia.codigoParametro === null">
                  {{tolerancia.nombreParametro}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="toleranciaFrmCtrl.touched && toleranciaFrmCtrl.hasError('required')">
                Tolerancia es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 6, lg: 6, xl: 6}" *ngIf="cbToxicidad === valorMostrarOpcion">
            <mat-form-field appearance="fill">
              <mat-label>TOXICIDAD</mat-label>
              <mat-select formControlName="toxicidadFrmCtrl">
                <mat-option *ngIf="cmbToxicidad.length === 0" disabled>
                  <div class="containerSpinner">
                    <span>Cargando...</span>
                    <mat-spinner class="spinner" diameter="20"></mat-spinner>
                  </div>
                </mat-option>
                <mat-option *ngFor="let toxicidad of cmbToxicidad" [value]="toxicidad.codigoParametro"
                  [disabled]="toxicidad.codigoParametro === null">
                  {{toxicidad.nombreParametro}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="toxicidadFrmCtrl.touched && toxicidadFrmCtrl.hasError('required')">
                Toxicidad es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 6, lg: 6, xl: 6}" *ngIf="btnExisteToxicidad === valorMostrarOpcion">
            <div class="containerRadio">
              <div class="radioGroup">
                <mat-label>EXISTE TOXICIDAD</mat-label>
                <mat-radio-group formControlName="existeToxFrmCtrl" (change)="enableFrmToxicidad()">
                  <mat-radio-button *ngFor="let row of rbtExisteToxi" [value]="row.codigo">
                    {{row.titulo}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
              <mat-error *ngIf="existeToxFrmCtrl.touched && existeToxFrmCtrl.hasError('required')">
                Existe Toxicidad es <strong>requerido</strong>
              </mat-error>
            </div>
          </mat-grid-tile>

          <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 6, lg: 6, xl: 6}" *ngIf="cbGrado === valorMostrarOpcion">
            <mat-form-field appearance="fill">
              <mat-label>GRADO</mat-label>
              <mat-select formControlName="gradoFrmCtrl">
                <mat-option *ngIf="cmbGrado.length === 0" disabled>
                  <div class="containerSpinner">
                    <span>Cargando...</span>
                    <mat-spinner class="spinner" diameter="20"></mat-spinner>
                  </div>
                </mat-option>
                <mat-option *ngFor="let grado of cmbGrado" [value]="grado.codigoParametro"
                  [disabled]="grado.codigoParametro === null">
                  {{grado.nombreParametro}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="gradoFrmCtrl.touched && gradoFrmCtrl.hasError('required')">
                Grado es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

        </mat-grid-list>
      </form>
    </mat-card-content>
  </mat-card>
  <div *ngIf="data.tipo!=3">
    <form [formGroup]="tableBasalFrmGrp" novalidate>
      <div class="table-container clear-both">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="item">
            <th mat-header-cell *matHeaderCellDef> N° </th>
            <td mat-cell *matCellDef="let row; let i = index;">
              {{i+1}}
            </td>
          </ng-container>
          <ng-container matColumnDef="marcador">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> MARCADOR </th>
            <td mat-cell *matCellDef="let row" title="{{row.descripcion}}"> {{row.descripcion}} </td>
          </ng-container>
          <ng-container *ngFor="let column of columnsGrilla" [matColumnDef]="column.columnDef">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.header }} </th>
            <td mat-cell *matCellDef="let row"> {{ column.cell(row) }} </td>
          </ng-container>

          <ng-container matColumnDef="sinRegistro">
            <th mat-header-cell *matHeaderCellDef> SIN REGISTRO EN H.C. </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox [formControlName]="'c'+row.codMarcador" (change)="ocultar($event,row)"></mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="resultado">
            <th mat-header-cell *matHeaderCellDef> RESULTADO </th>
            <td mat-cell *matCellDef="let row">
              <mat-form-field appearance="fill" *ngIf="row.pTipoIngresoRes === TIPO_FORM.formNumero && row.tieneRegHc"
                style="width: 10em;">
                <input matInput type="number" [formControlName]="'r'+row.codMarcador">
                <strong style="padding-left: 24px;">{{row.unidadMedida}}</strong>
                <mat-error *ngIf="tableBasalFrmGrp.controls['r'+row.codMarcador].touched && tableBasalFrmGrp.controls['r'+row.codMarcador].hasError('range')">
                  FUERA DE RANGO
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" *ngIf="row.pTipoIngresoRes === TIPO_FORM.formCombo && row.tieneRegHc">
                <mat-select [formControlName]="'r'+row.codMarcador">
                  <mat-option *ngFor="let result of row.listaDetalleMarcador" [value]="result">
                    {{result.valorFijo}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill" *ngIf="row.pTipoIngresoRes === TIPO_FORM.formTexto && row.tieneRegHc">
                <input matInput type="text" [appUpperCase] [appAlphaNumerico]="{size:100}" [formControlName]="'r'+row.codMarcador">
              </mat-form-field>
            </td>
          </ng-container>

          <ng-container matColumnDef="fecResultado">
            <th mat-header-cell *matHeaderCellDef> FECHA RESULTADO </th>
            <td mat-cell *matCellDef="let row">
              <mat-form-field appearance="fill" *ngIf="row.tieneRegHc">
                <input matInput [max]="maxDate" [matDatepicker]="dpResultado" [formControlName]="'f'+row.codMarcador"
                  [appOnlyDate]="{type: 'date'}">
                <mat-datepicker-toggle matSuffix [for]="dpResultado"></mat-datepicker-toggle>
                <mat-datepicker #dpResultado></mat-datepicker>
              </mat-form-field>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div class="empty" *ngIf="!isLoading && dataSource === null">
          No existe marcadores para mostrar en la tabla
        </div>

        <mat-card *ngIf="isLoading" class="spinerTable">
          <mat-progress-spinner color="primary" mode="indeterminate">
          </mat-progress-spinner>
        </mat-card>

        <mat-paginator class="mat-paginator-sticky" [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons>
        </mat-paginator>

      </div>
    </form>
  </div>
</div>

<div class="mat-dialog-actions modal-mantenimiento">
  <button mat-raised-button color="primary" *ngIf="data.tipo==1 && (btnPendInformacion === valorMostrarOpcion)" (click)="pendienteInformacion()">
    PENDIENTE INFORMACION
  </button>
  <button mat-raised-button color="primary" *ngIf="data.tipo==2 && (btnGrabar === valorMostrarOpcion)" (click)="actualizarEvolucion()">ACTUALIZAR</button>
  <button mat-raised-button color="primary" *ngIf="data.tipo==1 && (btnGrabar === valorMostrarOpcion)" (click)="registrarEvolucion()">GRABAR</button>
  <button mat-raised-button (click)="onClose()" *ngIf="btnSalir === valorMostrarOpcion">SALIR</button>
</div>