<mat-card class="cardPasos">
  <mat-card-content>
    <ng4-loading-spinner [timeout]="30000"></ng4-loading-spinner>
    <form class="form" [formGroup]="anaConclFrmGrp" novalidate>
      <mat-divider></mat-divider>
      <mat-grid-list cols="12" rowHeight="55px" *ngIf="( chkPerfil === valorMostrarOpcion ) || flagEvaluacion">
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 12, lg: 12, xl: 12}">
          <mat-label class="label-option"> 1. {{indicadorCheckListPaciente | uppercase}} </mat-label>
        </mat-grid-tile>
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 6, lg: 6, xl: 6}">
          <div class="containerRadio">
            <div class="radioGroup">
              <mat-label>Cumple con CheckList de Perfil Paciente:</mat-label>
              <mat-radio-group formControlName="rbtPerfilPcteFrmCtrl">
                <mat-radio-button [checked]="pref.selected" *ngFor="let pref of rbtPerfilPcteP5" [value]="pref.codigo">
                  {{pref.titulo}}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-divider></mat-divider>
      <mat-grid-list cols="12" rowHeight="35px" *ngIf="( chkPreferencia === valorMostrarOpcion ) || flagEvaluacion">
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 12, lg: 12, xl: 12}">
          <mat-label class="label-option">2. CUENTA CON ALTERNATIVAS SEGÚN PREFERENCIAS INSTITUCIONALES
          </mat-label>
        </mat-grid-tile>
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 6, lg: 6, xl: 6}">
          <div class="containerRadio">
            <div class="radioGroup">
              <mat-label>Cumple:</mat-label>
              <mat-radio-group formControlName="rbtPrefInstiFrmCtrl">
                <mat-radio-button [checked]="pref.selected" *ngFor="let pref of rbtPrefInsti" [value]="pref.codigo">
                  {{pref.titulo}}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="12" rowHeight="55px">
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 8, lg: 8, xl: 8}">
          <mat-form-field appearance="fill" style="height: 57px;">
            <mat-label>TRATAMIENTO SEGÚN GUÍA</mat-label>
            <textarea matInput readonly formControlName="descripcionMacAnaConFrmCtrl"></textarea>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list cols="12" rowHeight="35px">
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 6, lg: 6, xl: 6}">
          <mat-form-field appearance="fill">
            <mat-label>TIPO DE TRATAMIENTO SEGÚN GUÍA</mat-label>
            <input readonly matInput formControlName="tipoTratamientoGuiaFrmCtrl">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list cols="12" rowHeight="60px">
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 12, lg: 12, xl: 12}">
          <mat-form-field appearance="fill" style="height: 55px;">
            <mat-label>OBSERVACIONES</mat-label>
            <textarea matInput readonly [appUpperCase] [appAlphaNumerico] formControlName="observacionFrmCtrl"></textarea>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-divider></mat-divider>
      <mat-grid-list cols="12" rowHeight="35px" *ngIf="( chkPertinencia === valorMostrarOpcion ) || flagEvaluacion">
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 12, lg: 6, xl: 6}">
          <mat-label class="label-option"> 3. PERTINENCIA: </mat-label>
        </mat-grid-tile>
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 6, lg: 6, xl: 6}">
          <div class="containerRadio">
            <div class="radioGroup">
              <mat-radio-group formControlName="rbtPertinenciaFrmCtrl">
                <mat-radio-button *ngFor="let pref of rbtPertinencia" [value]="pref.codigo">
                  {{pref.titulo}}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-divider></mat-divider>
      <mat-grid-list cols="12" rowHeight="35px" *ngIf="( cmbCondicion === valorMostrarOpcion ) || flagEvaluacion">
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 6, lg: 6, xl: 6}">
          <mat-label class="label-option">4. CONDICIÓN DEL PACIENTE:</mat-label>
        </mat-grid-tile>
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 6, lg: 6, xl: 6}">
          <mat-form-field appearance="fill">
            <mat-label>Condición del Paciente:</mat-label>
            <mat-select formControlName="condicionPacFrmCtrl">
              <mat-option *ngFor="let row of cmbCondicionPac" [value]="row.codigoParametro"
                [disabled]="row.codigoParametro === null">
                {{row.nombreParametro}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-divider></mat-divider>
      <mat-grid-list cols="12" rowHeight="35px" *ngIf="( cmbTiempo === valorMostrarOpcion ) || flagEvaluacion">
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 6, lg: 6, xl: 6}">
          <mat-label class="label-option">5. TIEMPO DE USO (meses)</mat-label>
        </mat-grid-tile>
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 6, lg: 6, xl: 6}">
          <mat-form-field appearance="fill">
            <mat-label>Tiempo de uso</mat-label>
            <mat-select formControlName="tiempoUsoFrmCtrl">
              <mat-option *ngFor="let row of cmbTiempoUso" [value]="row.codigoParametro">
                {{row.nombreParametro}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-divider></mat-divider>
      <div *ngIf="pasoFinal">
        <mat-grid-list cols="12" rowHeight="35px">
          <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 3, lg: 3, xl: 3}"
          *ngIf="( txtResultado === valorMostrarOpcion ) || flagEvaluacion">
            <mat-label class="label-option">RESULTADO SEGÚN REGLA DEL SISTEMA</mat-label>
          </mat-grid-tile>
          <mat-grid-tile [responsiveRows]="{xs: 6, sm: 6, md: 3, lg: 3, xl: 3}"
          *ngIf="( txtResultado === valorMostrarOpcion ) || flagEvaluacion">
            <mat-form-field appearance="fill">
              <mat-label>Resultado por Sistema</mat-label>
              <input matInput formControlName="resulReglaSisFrmCtrl" readonly>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 6, lg: 6, xl: 6}"
          *ngIf="( btnVista === valorMostrarOpcion ) || flagEvaluacion">
            <button type="button" class="btnInformeAuditor" mat-raised-button (click)="generarReporteAutorizador(true)"
              *ngIf="grabarPaso === '1'">
              <mat-icon inline="true">picture_as_pdf</mat-icon> Vista preliminar del informe
            </button>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-divider></mat-divider>
        <mat-grid-list cols="12" rowHeight="35px" *ngIf="( cmbResultado === valorMostrarOpcion ) || flagEvaluacion">
          <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 6, lg: 6, xl: 6}">
            <mat-form-field appearance="fill">
              <mat-label>RESULTADO SEGÚN AUTORIZADOR</mat-label>
              <mat-select formControlName="resultAutorizadorFrmCtrl">
                <mat-option *ngFor="let row of cmbResultAutorizador" (click)="verficarResultadoAutorizador()"
                  [value]="row.codigoParametro">
                  {{row.nombreParametro}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-divider></mat-divider>
        <mat-grid-list cols="12" rowHeight="60px" *ngIf="( txtComentarioRol === valorMostrarOpcion ) || flagEvaluacion">
          <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 12, lg: 12, xl: 12}">
            <mat-form-field appearance="fill" style="height: 55px;">
              <mat-label>OBSERVACIONES</mat-label>
              <textarea matInput [appUpperCase] [appAlphaNumerico] formControlName="comeAnaConFrmCtrl"></textarea>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </form>
  </mat-card-content>
</mat-card>
