<div class="mat-dialog-header">
  <h1 class="mat-dialog-title" mat-dialog-title>{{data.title}}</h1>
</div>

<div class="page-seguimiento-ejecutivo mat-dialog-content modalTable" mat-dialog-content>
  <div class="table-container clear-both" [ngClass]="{'table-container-size' : user.getCodRol==6}">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef> N° </th>
        <td mat-cell *matCellDef="let row; let i = index;">
          {{i+1}}
        </td>
      </ng-container>

      <ng-container *ngFor="let column of columnsGrilla" [matColumnDef]="column.columnDef">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.header }} </th>
        <td mat-cell *matCellDef="let row"> {{ column.cell(row) }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="empty" *ngIf="!isLoading && dataSource === null">
      No existe datos para mostrar en la tabla
    </div>

    <mat-card *ngIf="isLoading" class="spinerTable">
      <mat-progress-spinner color="primary" mode="indeterminate">
      </mat-progress-spinner>
    </mat-card>

    <mat-paginator class="mat-paginator-sticky" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
    </mat-paginator>

  </div>
  <mat-card class="modalCard" *ngIf="data.tipo==1">
    <mat-card-header class="box-section-header">
      <mat-card-title class="box-section-title"> REGISTRO DEL SEGUIMIENTO </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form novalidate [formGroup]="segEjecutivoFrmGrp">
        <mat-grid-list cols="12" rowHeight="46px">
          <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 12, lg: 12, xl: 12}">
            <mat-form-field appearance="fill">
              <mat-label>COD. TAREA DE MONITOREO</mat-label>
              <input matInput readonly formControlName="codMonitoreoFrmCtrl">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 6, lg: 6, xl: 6}">
            <mat-form-field appearance="fill">
              <mat-label>EJECUTIVO MONITOREO</mat-label>
              <input matInput readonly formControlName="ejecutMonitoreoFrmCtrl">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 6, lg: 6, xl: 6}">
            <mat-form-field appearance="fill">
              <mat-label>FECHA REGISTRO</mat-label>
              <input matInput [matDatepicker]="dpSeguimiento" formControlName="fecRegistroFrmCtrl"
                [appOnlyDate]="{type: 'date'}" readonly>
              <mat-datepicker-toggle matSuffix [for]="dpSeguimiento" disabled>
              </mat-datepicker-toggle>
              <mat-datepicker #dpSeguimiento></mat-datepicker>
              <mat-error *ngIf="fecRegistroFrmCtrl.touched && fecRegistroFrmCtrl.hasError('required')">
                Fecha Monitoreo es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 12, lg: 12, xl: 12}">
            <mat-form-field appearance="fill">
              <mat-label>ESTADO SEGUIMIENTO</mat-label>
              <mat-select formControlName="pEstSeguimientoFrmCtrl">
                <mat-option *ngIf="cmbEstadoSeguimiento.length === 0" disabled>
                  <div class="containerSpinner">
                    <span>Cargando...</span>
                    <mat-spinner class="spinner" diameter="20"></mat-spinner>
                  </div>
                </mat-option>
                <mat-option *ngFor="let estado of cmbEstadoSeguimiento" [value]="estado.codigoParametro"
                  [disabled]="estado.codigoParametro === null">
                  {{estado.nombreParametro}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="pEstSeguimientoFrmCtrl.touched && pEstSeguimientoFrmCtrl.hasError('required')">
                Estado de seguimiento es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 12, lg: 12, xl: 12}">
            <mat-form-field appearance="fill">
              <mat-label>DETALLE DEL EVENTO</mat-label>
              <textarea matInput [appUpperCase] formControlName="detalleEventoFrmCtrl" placeholder="DETALLES"></textarea>
              <mat-error *ngIf="detalleEventoFrmCtrl.touched && detalleEventoFrmCtrl.hasError('required')">
                Detalle de evento <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<div class="mat-dialog-actions">
  <button mat-raised-button color="primary" class="btn-xl" matTooltip="Reg. Seguimiento del ejecutivo"
    (click)="regSeguimientoEjecutivo()" *ngIf="data.tipo==1 && user.getCodRol==6">
    GRABAR
  </button>
  <button mat-raised-button color="primary" class="btn-xl" matTooltip="Cancelar" (click)="onClose()">
    SALIR
  </button>
</div>