@import "../../../../main";

.page-seguimiento-ejecutivo {
  margin-bottom: 0px;
  .table-container-size {
    max-height: 145px;
  }
}

@include mat-table-columns(
  (
    no: (
      width: 2rem
    ),
    nomEjecutivoMonitoreo: (
      width: 11rem
    ),
    detalleEvento: (
      width: 25rem
    ),
    fechaRegistro: (
      width: 5rem
    ),
    horaRegistro: (
      width: 5rem
    ),
    descEstadoSeguimiento: (
      width: 7rem
    )
  )
);
