@import "./../../../main";

@include mat-table-columns(
  (
    lineaTratamiento: (
      width: 5rem
    ),
    macSolicitado: (
      width: 10rem
    ),
    codEvaluacion: (
      width: 8rem
    ),
    fec_Aprobacion: (
      width: 7rem
    ),
    fecchaInicio: (
      width: 7rem
    ),
    fechaFin: (
      width: 7rem
    ),
    nroCurso: (
      width: 5rem
    ),
    tipoTumor: (
      width: 10rem
    ),
    respAlcansada: (
      width: 10rem
    ),
    estado: (
      width: 7rem
    ),
    motivoInactivacion: (
      width: 10rem
    ),
    medicoTratantePrescriptor: (
      width: 20rem
    ),
    montoAutorizado: (
      width: 8rem
    )
  )
);

.mat-icon {
  font-size: 23px !important;
}
