<div class="mat-dialog-header">
  <h1 class="mat-dialog-title" mat-dialog-title> Registro de Líneas de Tratamiento Histórico </h1>
</div>
<div class="mat-dialog-content" mat-dialog-content>
  <div class="pregunta-dialog">
    ¿Existen Líneas de Tratamiento Históricas del paciente pendientes de registrar?
  </div>
</div>
<div class="mat-dialog-actions modal-footer">
  <button mat-icon-button color="primary" (click)="registrarLineaTratamiento()"> SI </button>
  <button mat-icon-button (click)="registrarMedicamento()"> NO </button>
</div>
