@mixin mat-table-columns($columns) {
  .mat-column- {
    @each $colName, $props in $columns {
      $width: map-get($props, "width");

      &#{$colName} {
        flex: $width !important;
        width: $width !important;

        @if map-has-key($props, "color") {
          color: map-get($props, "color") !important;
        }

        @if map-has-key($props, "text-align") {
          text-align: map-get($props, "text-align") !important;
        }

        @if map-has-key($props, "padding-left") {
          padding-left: map-get($props, "padding-left") !important;
        }
      }
    }
  }
}

.table-container {
  overflow: auto;
  .mat-column-select {
    overflow: initial;
  }
}

.table-container table {
  width: 100%;
  table-layout: fixed;
}

.spinerTable {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  right: 0 !important;
  position: sticky;
  bottom: 0px;
  left: 0px;
  .mat-progress-spinner {
    width: 50px !important;
    height: 50px !important;
    svg {
      width: 50px !important;
      height: 50px !important;
    }
  }
}

.table-container th.mat-header-cell {
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  line-height: 1 !important;
}

.table-container .mat-sort-header-arrow {
  color: white;
  margin: 0;
}

.table-container th.mat-header-cell:first-of-type,
.table-container td.mat-cell:first-of-type,
.table-container td.mat-footer-cell:last-of-type {
  padding-left: 0px;
}

.table-container td.mat-cell:last-of-type,
.table-container td.mat-footer-cell:last-of-type,
.table-container th.mat-header-cell:last-of-type {
  padding-left: 0px;
}

.table-container th.mat-header-cell {
  padding: 0px;
  color: $table_header-color;
  background-color: $table-header-bg;
  text-align: center; /*just change that parameter to left/right*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2 !important;
  border: 1px rgba(0, 0, 0, 0.1) solid;
}

.table-container td.mat-cell {
  border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
  padding-left: 5px;
  padding-right: 5px;
  height: auto;
}

.table-container tr.mat-row,
.table-container tr.mat-header-row,
.table-container tr.mat-footer-row {
  text-align: center;
  height: 25px;
}

.table-container th {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.75em;
}

.table-container td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.75em;
  text-transform: uppercase;
}

.table-container th {
  font-weight: bold;
  text-transform: uppercase;
}

.table-container tr.mat-row {
  .mat-form-field-appearance-fill {
    height: 22px !important;
    font-size: 1.2em !important;
    .mat-input-element {
      font-size: 0.9em !important;
    }
    .mat-form-field-infix {
      border-top: none !important;
      .mat-select-arrow-wrapper {
        display: flex !important;
      }
      .mat-icon-button {
        width: 23px !important;
        height: 23px !important;
        line-height: 23px !important;
      }
    }
  }
}

.table-container tr:hover,
.table-container tr:hover .mat-cell {
  background-color: $table-row-hover-bg;
  color: $table-row-hover-tx;
}

.table-container tr:hover .tableIconButton {
  color: #ffffff;
}

.table-container .mat-paginator-sticky {
  bottom: 0px !important;
  left: 0px !important;
  position: sticky !important;
  z-index: 10 !important;
}

.table-container {
  .tableIconButton {
    color: $color-icon;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    &:hover {
      color: #ffffff;
    }
  }
  .empty {
    padding: 20px;
    text-align: center;
    position: sticky;
    bottom: 0px;
    left: 0px;
    font-size: 0.8em;
    font-weight: 500;
  }
}

.hoverRow,
.hoverRow .mat-cell,
.hoverRow .mat-cell .tableIconButton {
  background-color: $table-row-hover-bg;
  color: $table-row-hover-tx;
}

.solbenRow,
.solbenRow .mat-cell,
.solbenRow .mat-cell .tableIconButton {
  background-color: $table-bg-solben;
  color: $table-row-hover-tx;
}

.modalTable {
  display: block;
}

.table-resultados {
  mat-card-header {
    mat-card-title {
      color: $color-secundario;
      font-size: 1em;
      font-weight: bold;
    }
  }
}

.mat-paginator {
  font-size: 0.9em;
}

::ng-deep .mat-paginator-container {
  min-height: 30px !important;
}

::ng-deep .mat-paginator-range-actions {
  min-height: 30px !important;
  .mat-paginator-range-label {
    margin: 0 10px 0 10px !important;
  }
  .mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    line-height: 25px;
    border-radius: 50%;
  }
}

::ng-deep .mat-paginator-page-size-select {
  width: 70px !important;
  margin: 0 !important;
}

::ng-deep .mat-paginator-page-size {
  display: flex !important;
  align-items: center !important;
  margin-right: 8px;
  mat-form-field {
    display: flex;
    align-items: center;
    &::ng-deep .mat-form-field-flex {
      width: 40px;
      &::ng-deep .mat-form-field-infix {
        border-top: 0;
        mat-select {
          width: 40px;
        }
      }
    }
  }
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: transparent !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-ripple {
  background-color: transparent !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding: 0;
  margin: 0;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0;
  margin: 0;
}

::ng-deep .mat-form-field-appearance-legacy .mat-select-value {
  color: $color-secundario;
  font-weight: bold;
  font-size: 0.9em;
}

::ng-deep .mat-form-field-appearance-legacy .mat-select-arrow {
  color: $color-secundario;
  font-size: 0.9em;
}
::ng-deep .mat-form-field-appearance-legacy .mat-option {
  padding: 0 !important;
  font-size: 0.9em !important;
}
::ng-deep .mat-form-field-appearance-legacy .mat-option-text {
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
}
