<div class="page-registro-linea-trat">
  <mat-card>
    <mat-card-header class="box-section-header">
      <mat-card-title class="box-section-title"> REGISTRAR LÍNEA DE TRATAMIENTO </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="form validateForm" [formGroup]="registroFrmGroup" novalidate>
        <mat-grid-list cols="12" rowHeight="45px">
          <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 6, lg: 6, xl: 6}"
          *ngIf="( txtPacienteReg === valorMostrarOpcion ) || flagEvaluacion">
            <mat-form-field appearance="fill">
              <mat-label>PACIENTE</mat-label>
              <input readonly formControlName="pacienteFrmCtrl" matInput>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="12" rowHeight="45px">
          <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 6, lg: 6, xl: 6}"
          *ngIf="( txtDiagnosticoReg === valorMostrarOpcion ) || flagEvaluacion">
            <mat-form-field appearance="fill">
              <mat-label>DIAGNÓSTICO</mat-label>
              <input readonly formControlName="diagnosticoFrmCtrl" matInput>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="12" rowHeight="45px">
          <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 6, lg: 6, xl: 6}"
          *ngIf="( txtMedicamento === valorMostrarOpcion ) || flagEvaluacion">
            <mat-form-field appearance="fill">
              <mat-label> MEDICAMENTO SOLICITADO* </mat-label>
              <input matInput formControlName="medicamentoFrmCtrl" readonly>
              <button mat-icon-button class="btn-action" (click)="openDialogMAC($event)">
                <mat-icon>search</mat-icon>
              </button>
              <mat-error *ngIf="this.medicamentoFrmCtrl.touched && this.medicamentoFrmCtrl.hasError('required')">
                Medicamento solicitado es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="12" rowHeight="45px">
          <mat-grid-tile [responsiveRows]="{xs: 6, sm: 6, md: 6, lg: 6, xl: 6}"
          *ngIf="( txtFechaInicio === valorMostrarOpcion ) || flagEvaluacion">
            <mat-form-field appearance="fill">
              <mat-label>FECHA PERIODO INICIO</mat-label>
              <input matInput [matDatepicker]="dpInicio" formControlName="fechaFormControl"
                (dateChange)="validarFechaInicio()" [appOnlyDate]="{type: 'date'}">
              <mat-datepicker-toggle matSuffix [for]="dpInicio"></mat-datepicker-toggle>
              <mat-datepicker #dpInicio></mat-datepicker>
              <mat-error *ngIf="this.fechaFormControl.touched && this.fechaFormControl.hasError('required')">
                Fecha periodo inicio es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [responsiveRows]="{xs: 6, sm: 6, md: 6, lg: 6, xl: 6}"
          *ngIf="( txtFechaFin === valorMostrarOpcion ) || flagEvaluacion">
            <mat-form-field appearance="fill">
              <mat-label>FECHA PERIODO FIN</mat-label>
              <input matInput [matDatepicker]="dpFin" formControlName="fechaFinFormControl"
                (dateChange)="validarFechaFin()" [appOnlyDate]="{type: 'date'}">
              <mat-datepicker-toggle matSuffix [for]="dpFin"></mat-datepicker-toggle>
              <mat-datepicker #dpFin></mat-datepicker>
              <mat-error *ngIf="this.fechaFinFormControl.touched && this.fechaFinFormControl.hasError('required')">
                Fecha periodo fin es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="12" rowHeight="45px">
          <mat-grid-tile [responsiveRows]="{xs: 6, sm: 6, md: 6, lg: 6, xl: 6}"
          *ngIf="( cmbMotivoInactivacion === valorMostrarOpcion ) || flagEvaluacion">
            <mat-form-field appearance="fill">
              <mat-label> MOTIVO INACTIVACIÓN </mat-label>
              <mat-select formControlName="motivoInactivoFrmCtrl">
                <mat-option *ngFor="let row of listaMotivoInactivacion" [value]="row.codigoParametro">
                  {{row.nombreParametro}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [responsiveRows]="{xs: 6, sm: 6, md: 6, lg: 6, xl: 6}"
          *ngIf="( txtFechaInactivacion === valorMostrarOpcion ) || flagEvaluacion">
            <mat-form-field appearance="fill">
              <mat-label>FECHA INACTIVACIÓN</mat-label>
              <input matInput [matDatepicker]="dpInactivacion" formControlName="fechaInactivaFrmCtrl"
                (dateChange)="validarFechaInactivacion()" [appOnlyDate]="{type: 'date'}">
              <mat-datepicker-toggle matSuffix [for]="dpInactivacion"></mat-datepicker-toggle>
              <mat-datepicker #dpInactivacion></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="12" rowHeight="45px">
          <mat-grid-tile [responsiveRows]="{xs: 6, sm: 6, md: 6, lg: 6, xl: 6}"
          *ngIf="( cmbNumeroCursos === valorMostrarOpcion ) || flagEvaluacion">
            <mat-form-field appearance="fill">
              <mat-label>N° CURSOS </mat-label>
              <mat-select formControlName="nroCursosFrmCtrl">
                <mat-option *ngFor="let row2 of listaNroCurso" [value]="row2.codigoParametro">
                  {{row2.nombreParametro}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="12" rowHeight="45px">
          <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 6, lg: 6, xl: 6}"
          *ngIf="( cmbTipoTumor === valorMostrarOpcion ) || flagEvaluacion">
            <mat-form-field appearance="fill">
              <mat-label>TIPO DE TUMOR</mat-label>
              <mat-select formControlName="tipoTumorFrmCtrl" (selectionChange)="CmbLider($event)">
                <mat-option *ngFor="let row1 of listaTipoTumor" [value]="row1.codigoParametro">
                  {{row1.nombreParametro}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 6, lg: 6, xl: 6}"
          *ngIf="( cmbRespuestaAlcanzada === valorMostrarOpcion ) || flagEvaluacion">
            <mat-form-field appearance="fill">
              <mat-label>RESPUESTA ALCANZADA </mat-label>
              <mat-select formControlName="rptaAlcanzadaFrmCtrl" [disabled]="activarBtnRespuesta">
                <mat-option *ngFor="let row3 of listaRespuestAlcanzada" [value]="row3.codigoParametro">
                  {{row3.nombreParametro}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="12" rowHeight="45px">
          <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 6, lg: 6, xl: 6}"
          *ngIf="( cmbLugarProgresion === valorMostrarOpcion ) || flagEvaluacion">
            <mat-form-field appearance="fill">
              <mat-label>LUGAR DE PROGRESIÓN/RECURRENCIA/RECAIDA </mat-label>
              <mat-select formControlName="lugarRecuRecaFrmCtrl">
                <mat-option *ngFor="let row4 of listaLugarProgresion" [value]="row4.codigoParametro">
                  {{row4.nombreParametro}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="12" rowHeight="45px">
          <mat-grid-tile [responsiveRows]="{xs: 4, sm: 4, md: 2, lg: 2, xl: 2}"
          *ngIf="( txtCMPReg === valorMostrarOpcion ) || flagEvaluacion">
            <mat-form-field appearance="fill">
              <mat-label>CODIGO CMP</mat-label>
              <input matInput formControlName="codigoCMPFrmCtrl" [appAlphaNumerico]='{size: 20}' [appOnlyNumber]>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [responsiveRows]="{xs: 8, sm: 8, md: 10, lg: 10, xl: 10}"
          *ngIf="( txtApellidosNombres === valorMostrarOpcion ) || flagEvaluacion">
            <mat-form-field appearance="fill">
              <mat-label>MÉDICO TRATANTE</mat-label>
              <input matInput formControlName="medicoTrataFrmCtrl" oninput="this.value = this.value.toUpperCase()">
              <mat-error *ngIf="this.medicoTrataFrmCtrl.touched && this.medicoTrataFrmCtrl.hasError('required')">
                Medico Tratante es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </mat-card-content>
    <mat-card-actions class="btnCenter">
      <button mat-raised-button class="btn-xl" [disabled]="activarBtnLinea" color="primary"
        (click)="registrarLineaTratamiento()" *ngIf="( btnGrabar === valorMostrarOpcion ) || flagEvaluacion"> GRABAR </button>
      <button mat-raised-button class="btn-xl" [disabled]="activarBtnSalir" color="primary"
        (click)="resgistraOtraLineaTratamiento($event)" *ngIf="( btnRegistrar === valorMostrarOpcion ) || flagEvaluacion"> REGISTRAR OTRA LÍNEA </button>
      <button mat-raised-button class="btn-xl" [disabled]="activarBtn" (click)="salirForm()" *ngIf="( btnSalir === valorMostrarOpcion ) || flagEvaluacion"> SALIR
      </button>
    </mat-card-actions>
    <ng4-loading-spinner></ng4-loading-spinner>
  </mat-card>
</div>
