@import "../../main";

.page-bandeja {
  .box-resultados {
    margin-bottom: 0px;
    .table-container {
      max-height: 228px;
    }
  }
}

.btnActions {
  margin: 0;
  padding: 0;
  border-top: 1px $color-secundario solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .mat-raised-button {
    font-size: 0.8em;
    margin-top: 10px;
    display: flex;
    border-radius: 25px;
    white-space: pre-wrap;
    justify-content: center;
    height: auto;
    padding: 5px 10px;
    .mat-icon {
      font-size: 20px;
      margin-right: 5px;
    }
    span.mat-button-wrapper {
      display: flex;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  .btnCMAC {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btnMnto {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.labelFechaTO {
  margin-left: 1.8em !important;
  color: $color-label;
  font-size: .9em;
  font-weight: 600;
}

@include mat-table-columns(
  (
    select: (
      width: 3rem
    ),
    numeroSolEvaluacion: (
      width: 6rem
    ),
    numeroScgSolben: (
      width: 9rem
    ),
    tipoScgSolben: (
      width: 8rem
    ),
    descEstadoSCGSolben: (
      width: 8rem
    ),
    numeroCartaGarantia: (
      width: 6rem
    ),
    descClinica: (
      width: 15rem
    ),
    nombrePaciente: (
      width: 20rem
    ),
    nombreDiagnostico: (
      width: 18rem
    ),
    descripcionCmac: (
      width: 18rem
    ),
    fechaRegistroEvaluacion: (
      width: 8rem
    ),
    tipoEvaluacion: (
      width: 8rem
    ),
    rolResponsableEvaluacion:(
      width: 15rem
    ),
    estadoEvaluacion: (
      width: 13rem
    ),
    medico_tratante: (
      width: 18rem
    ),
    correoLiderTumor: (
      width: 6rem
    ),
    correoCmac: (
      width: 5rem
    ),
    fechaCmac: (
      width: 5rem
    ),
    auditorPertenencia: (
      width: 15rem
    ),
    liderTumor: (
      width: 15rem
    ),
    verDetalle: (
      width: 3rem
    ),
    verSeguimiento: (
      width: 3rem
    )
  )
);

.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 1.2em;
  height: 1.2em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
  top: -10px;
}
.loader {
  margin: auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  -webkit-animation-delay: 0.16s;
  animation-delay: 0.16s;
}
.loader:before {
  left: -1.2em;
}
.loader:after {
  left: 1.2em;
  -webkit-animation-delay: 0.32s;
  animation-delay: 0.32s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 1.2em 0 -0.5em #00ACC1;
  }
  40% {
    box-shadow: 0 1.2em 0 0 #7FD9E5;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 1.2em 0 -0.5em #00ACC1;
  }
  40% {
    box-shadow: 0 1.2em 0 0 #7FD9E5;
  }
}