<mat-card class="cardPasos">
  <mat-card-content>
    <div class="sinResultado" *ngIf="noCriteriosFlag">
      <mat-progress-bar *ngIf="barCriterios" mode="indeterminate"></mat-progress-bar>
      <h3 *ngIf="!barCriterios">{{noCriterios}}</h3>
    </div>
    <div *ngIf="!noCriteriosFlag">
      <mat-accordion *ngIf="( chkIndicacion === valorMostrarOpcion ) || flagEvaluacion">
        <mat-radio-group [(formControl)]="indicadorFrmCtrl">
          <mat-expansion-panel *ngFor="let item of listaIndicador" [expanded]="step === item.codigo"
            (opened)="setStep(item.codigo)" hideToggle>
            <mat-expansion-panel-header [collapsedHeight]="'36px'" [expandedHeight]="'36px'"
              (click)="activarRadioBtn(item)">
              <mat-panel-title>
                {{item.descripcion | uppercase}}
              </mat-panel-title>
              <mat-radio-button [value]="item" [checked]="item.selected">
              </mat-radio-button>
            </mat-expansion-panel-header>

            <mat-card class="cardCriterio" *ngIf="( chkCriteriosInclusion === valorMostrarOpcion ) || flagEvaluacion">
              <mat-card-header>
                <mat-card-title>Criterios de Inclusión</mat-card-title>
              </mat-card-header>

              <mat-card-content>
                <mat-grid-list cols="12"
                  [ngClass]="{'matgrit25': (inclusion.totalDesc <= 138), 'matgrit40': (inclusion.totalDesc > 138 && inclusion.totalDesc <= 276), 'matgrit55': (inclusion.totalDesc > 276 && inclusion.totalDesc <= 414) }"
                  rowHeight="fit" *ngFor="let inclusion of item.listaCriterioInclusion; let indice = index">
                  <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 1, lg: 1, xl: 1}"
                    style="padding:10px;text-align:center;">
                    <mat-label class="label-item"> {{indice+1}} </mat-label>
                  </mat-grid-tile>
                  <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 9, lg: 9, xl: 9}"
                    style="padding:10px;text-align:start;">
                    <div class="textLeft">
                      <mat-label class="label-item"> {{inclusion.descripcion}} </mat-label>
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 2, lg: 2, xl: 2}">
                    <div class="containerRadio">
                      <div class="radioGroup">
                        <mat-radio-group [(ngModel)]="inclusion.parametro">
                          <mat-radio-button *ngFor="let season of rbtCriterios" [value]="season.codigo"
                            [checked]="inclusion.select"
                            (click)="contadorIndicador(item,'listaCriterioInclusion','criterioInclusion',false)">
                            {{season.titulo}}
                          </mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>
                  </mat-grid-tile>
                </mat-grid-list>
              </mat-card-content>
            </mat-card>
            <mat-card class="cardCriterio" *ngIf="( chkCriteriosExclusion === valorMostrarOpcion ) || flagEvaluacion">
              <mat-card-header>
                <mat-card-title>Criterios de Exclusión </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <mat-grid-list cols="12"
                [ngClass]="{'matgrit25': (exclusion.totalDesc <= 138), 'matgrit40': (exclusion.totalDesc > 138 && exclusion.totalDesc <= 276), 'matgrit55': (exclusion.totalDesc > 276 && exclusion.totalDesc <= 414) }"
                  rowHeight="fit" *ngFor="let exclusion of item.listaCriterioExclusion; let indice = index">
                  <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 1, lg: 1, xl: 1}"
                    style="padding:10px;text-align:center;">
                    <mat-label class="label-item"> {{indice+1}} </mat-label>
                  </mat-grid-tile>
                  <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 9, lg: 9, xl: 9}"
                    style="padding:10px;text-align:start;">
                    <div class="textLeft">
                      <mat-label class="label-item"> {{exclusion.descripcion}} </mat-label>
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 2, lg: 2, xl: 2}">
                    <div class="containerRadio">
                      <div class="radioGroup">
                        <mat-radio-group [(ngModel)]="exclusion.parametro">
                          <mat-radio-button *ngFor="let season of rbtCriterios" [value]="season.codigo"
                            [checked]="exclusion.select"
                            (click)="contadorIndicador(item,'listaCriterioExclusion','criterioExclusion',false)">
                            {{season.titulo}}
                          </mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>
                  </mat-grid-tile>
                </mat-grid-list>
              </mat-card-content>
            </mat-card>

          </mat-expansion-panel>
        </mat-radio-group>
      </mat-accordion>
    </div>

    <mat-card class="cardCumplePefil" *ngIf="( chkPaciente === valorMostrarOpcion ) || flagEvaluacion">
      <mat-grid-list cols="12" rowHeight="45px">
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 12, lg: 12, xl: 12}">
          <div class="containerRadio">
            <div class="radioGroup">
              <mat-label>CUMPLE CON EL CHECKLIST DEL PERFIL DE PACIENTE:</mat-label>
              <mat-radio-group [(formControl)]="rbgPerfilPcteFrmCtrl">
                <mat-radio-button (click)="verificarPerfil(solben)" [checked]="solben.selected"
                  *ngFor="let solben of rbtPerfilPcte" [value]="solben.codigo">
                  {{solben.titulo}}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>

    <mat-card class="cardObservacion" *ngIf="( txtComentario === valorMostrarOpcion ) || flagEvaluacion">
      <mat-grid-list cols="12" rowHeight="60px">
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 12, lg: 12, xl: 12}">
          <mat-form-field appearance="fill" style="height: 55px;">
            <mat-label> COMENTARIOS </mat-label>
            <textarea class="taPerfilpcte" [appUpperCase] [appAlphaNumerico] matInput
              [(formControl)]="comePerfcteFrmCtrl"></textarea>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>
  </mat-card-content>
</mat-card>
