<div class="page-eva-autorizador">
  <mat-card>
    <mat-card-header class="box-section-header">
      <mat-card-title class="box-section-title"> EVALUACIÓN DEL AUTORIZADOR </mat-card-title>
      <mat-card-subtitle class="box-section-subtitle"> MEDICAMENTO CONTINUADOR </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-card class="cardPasos">
        <mat-card-content>
          <div *ngIf="mostrarDocumentos">
            <mat-divider></mat-divider>
            <ul class="listaRequeridos" *ngIf="( fileRecetaMedica === valorMostrarOpcion ) || flagEvaluacion">
              <li *ngFor="let doc of docRequeridos">
                <mat-grid-list cols="12" rowHeight="45px">
                  <mat-grid-tile [responsiveRows]="{xs: 1, sm: 1, md: 1, lg: 1, xl: 1}">
                    <mat-icon class="icon-green" *ngIf="doc.estado" inline=true>check_box</mat-icon>
                    <mat-icon class="icon-green" *ngIf="!doc.estado" inline=true>check_box_outline_blank</mat-icon>
                  </mat-grid-tile>
                  <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 3, lg: 3, xl: 3}">
                    <mat-label class="labelDocumento">{{doc.descripcionDocumento}} (*)</mat-label>
                    <mat-label class="labelSubDocumento" *ngIf="doc.subtitle !== ''">{{doc.subtitle}}</mat-label>
                  </mat-grid-tile>
                  <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 2, lg: 2, xl: 2}">
                    <mat-label class="labelCargado" *ngIf="doc.estado && !doc.cargando">{{doc.descripcionEstado}}</mat-label>
                    <div class="containerSpinner" *ngIf="doc.cargando">
                      <span>Cargando...</span>
                      <mat-spinner class="spinner" diameter="20"></mat-spinner>
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 1, lg: 1, xl: 1}">
                    <button class="tableIconButton" mat-icon-button matTooltip="Cargar Archivo" (click)="fileInput.click()"
                      *ngIf="!doc.estado">
                      <mat-icon>attach_file</mat-icon>
                      <input #fileInput type="file" (change)="openFileRequerido(doc,$event)" style="display:none;"
                        accept="application/pdf" />
                    </button>
                    <button class="tableIconButton" mat-icon-button matTooltip="Eliminar" (click)="eliminarRequeridosDoc(doc)"
                      *ngIf="doc.estado">
                      <mat-icon class="icon-red">delete</mat-icon>
                    </button>
                  </mat-grid-tile>
                </mat-grid-list>
              </li>
            </ul>
            <mat-divider></mat-divider>
            <ul class="listaNoRequeridos" *ngIf="( txtDescripcion === valorMostrarOpcion ) || flagEvaluacion">
              <li *ngFor="let docOtro of docOtros">
                <mat-grid-list cols="12" rowHeight="45px">
                  <mat-grid-tile [responsiveRows]="{xs: 1, sm: 1, md: 1, lg: 1, xl: 1}">
                    <mat-icon class="icon-green" inline=true *ngIf="docOtro.estado">check_box</mat-icon>
                    <mat-icon class="icon-green" *ngIf="!docOtro.estado" inline=true>check_box_outline_blank</mat-icon>
                  </mat-grid-tile>
                  <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 3, lg: 3, xl: 3}">
                    <mat-label class="labelDocumento">{{docOtro.descripcionDocumento}}</mat-label>
                  </mat-grid-tile>
                  <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 2, lg: 2, xl: 2}">
                    <mat-label class="labelCargado" *ngIf="docOtro.estado && !docOtro.cargando">{{docOtro.descripcionEstado}}
                    </mat-label>
                    <div class="containerSpinner" *ngIf="docOtro.cargando">
                      <span>Cargando...</span>
                      <mat-spinner class="spinner" diameter="20"></mat-spinner>
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 1, lg: 1, xl: 1}">
                    <button class="tableIconButton" mat-icon-button *ngIf="docOtro.estado" (click)="eliminarOtrosDoc(docOtro)"
                      matTooltip="Eliminar">
                      <mat-icon class="icon-red">delete</mat-icon>
                    </button>
                  </mat-grid-tile>
                </mat-grid-list>
              </li>
            </ul>
          </div>
          <div *ngIf="!mostrarDocumentos">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
          <mat-divider></mat-divider>
          <ul class="nuevoDocumento" *ngIf="( txtDescripcion === valorMostrarOpcion ) || flagEvaluacion">
            <li>
              <mat-grid-list cols="12" rowHeight="45px">
                <mat-grid-tile [responsiveRows]="{xs: 1, sm: 1, md: 1, lg: 1, xl: 1}">
                  <mat-icon class="icon-green" inline=true>check_box_outline_blank</mat-icon>
                </mat-grid-tile>
                <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 3, lg: 3, xl: 3}">
                  <mat-label class="labelDocumento">OTRO DOCUMENTO</mat-label>
                </mat-grid-tile>
                <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 2, lg: 2, xl: 2}">
                  <mat-form-field appearance="fill">
                    <mat-label>DESCRIPCIÓN</mat-label>
                    <input matInput [appUpperCase] [appAlphaNumerico]="{size: 20, tipo: 'text'}"
                      [(formControl)]="desDocuNuevo" (keyup)="verDescripDocumentos()">
                    <mat-error *ngIf="desDocuNuevo.hasError('invalidDescription') && desDocuNuevo.touched">
                      Descripción ya fue registrada
                    </mat-error>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [responsiveRows]="{xs: 12, sm: 6, md: 2, lg: 1, xl: 1}">
                  <button class="tableIconButton" mat-icon-button matTooltip="Cargar Archivo" [disabled]="activarOpenFile"
                    (click)="fileUpload.click()">
                    <mat-icon>attach_file</mat-icon>
                    <input #fileUpload type="file" type="file" (click)="fileUpload.value = null" (change)="openFile($event)"
                      accept="application/pdf" style="display:none" />
                  </button>
                </mat-grid-tile>
              </mat-grid-list>
            </li>
          </ul>
        </mat-card-content>
      </mat-card>

      <ng4-loading-spinner></ng4-loading-spinner>

      <mat-card class="monitoreo">
        <mat-card-content>
          <div *ngIf="!mostrarMonitoreo">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
          <!--<div *ngIf="mostrarMonitoreo">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>-->
        </mat-card-content>
      </mat-card>

      <mat-card class="monContinuador">
        <mat-card-content>
          <div *ngIf="!mostrarMonitoreo">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
          <div *ngIf="mostrarMonitoreo && noPendiente">
            <form [formGroup]="monitoreoFrmGrp" novalidate>
              <mat-grid-list cols="12" rowHeight="50px">
                <mat-grid-tile [responsiveRows]="{xs: 6, sm: 6, md: 6, lg: 6, xl: 6}"
                  *ngIf="( txtResultadoMonitoreo === valorMostrarOpcion ) || flagEvaluacion">
                  <mat-form-field [ngClass]="{
                    'continuador-aprobado': estadoContinuador === '1',
                    'continuador-rechazado':estadoContinuador === '0'
                    }" appearance="fill">
                    <mat-label> RESULTADO ÚLTIMO MONITOREO </mat-label>
                    <input matInput formControlName="rstdoUltMonitoreoFrmCtrl" readonly>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [responsiveRows]="{xs: 6, sm: 6, md: 6, lg: 6, xl: 6}"
                  *ngIf="( txtTareaMonitoreo === valorMostrarOpcion ) || flagEvaluacion">
                  <mat-form-field appearance="fill">
                    <mat-label> N° TAREA MONITOREO </mat-label>
                    <input matInput formControlName="tareaMonitoreoFrmCtrl" readonly>
                  </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>

              <mat-grid-list cols="12" rowHeight="50px">
                <mat-grid-tile [responsiveRows]="{xs: 6, sm: 6, md: 6, lg: 6, xl: 6}"
                  *ngIf="( txtResponsableMonitoreo === valorMostrarOpcion ) || flagEvaluacion">
                  <mat-form-field appearance="fill">
                    <mat-label> RESPONSABLE ÚLTIMO MONITOREO </mat-label>
                    <input matInput formControlName="responsableUltMonitoreoFrmCtrl" readonly>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [responsiveRows]="{xs: 6, sm: 6, md: 6, lg: 6, xl: 6}"
                  *ngIf="( txtFechaMonitoreo === valorMostrarOpcion ) || flagEvaluacion">
                  <mat-form-field appearance="fill">
                    <mat-label> FECHA ÚLTIMO MONITOREO </mat-label>
                    <input matInput formControlName="fechaUltMonitoreoFrmCtrl" readonly>
                  </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>

              <mat-grid-list cols="12" rowHeight="50px">
                <mat-grid-tile [responsiveRows]="{xs: 6, sm: 6, md: 6, lg: 6, xl: 6}"
                  *ngIf="( txtResultadoEvaluacion === valorMostrarOpcion ) || flagEvaluacion">
                  <mat-form-field [ngClass]="{
                    'continuador-aprobado': estadoContinuador === '1',
                    'continuador-rechazado':estadoContinuador === '0'
                    }" appearance="fill">
                    <mat-label> RESULTADO EVALUACIÓN DEL SISTEMA </mat-label>
                    <input matInput formControlName="resulSistemaFrmCtrl" readonly>
                  </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>
              <mat-grid-list cols="12" rowHeight="50px" *ngIf="flagResultAuto">
                <mat-grid-tile [responsiveRows]="{xs: 6, sm: 6, md: 6, lg: 6, xl: 6}"
                  *ngIf="( txtResultadoAutorizador === valorMostrarOpcion ) || flagEvaluacion">
                  <mat-form-field appearance="fill">
                    <mat-label> RESULTADO SEGÚN AUTORIZADOR </mat-label>
                    <mat-select formControlName="resulAutorizadorFrmCtrl">
                      <mat-option *ngFor="let row of cmbResultAutorizador" (click)="verficarResultadoAutorizador()"
                        [value]="row.codigoParametro">
                        {{row.nombreParametro}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>
              <mat-grid-list cols="12" rowHeight="50px"  *ngIf="!flagResultAuto">
                <mat-grid-tile [responsiveRows]="{xs: 6, sm: 6, md: 6, lg: 6, xl: 6}"
                  *ngIf="( txtResultadoAutorizador === valorMostrarOpcion ) || flagEvaluacion">
                  <mat-form-field appearance="fill">
                    <mat-label> RESULTADO SEGÚN AUTORIZADOR </mat-label>
                    <input matInput formControlName="resultAutotizadorTxtFrmCtrl" readonly>
                  </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>

              <mat-grid-list cols="12" rowHeight="60px"
                *ngIf="( txtComentario === valorMostrarOpcion ) || flagEvaluacion">
                <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 12, lg: 12, xl: 12}">
                  <mat-form-field appearance="fill" style="height: 55px;">
                    <mat-label> COMENTARIOS </mat-label>
                    <textarea matInput [appUpperCase] [appAlphaNumerico] formControlName="comentarioFrmCtrl"></textarea>
                  </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>
            </form>
          </div>
          <div *ngIf="mostrarMonitoreo && !noPendiente">
            <mat-grid-list cols="12" rowHeight="45px">
              <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 12, lg: 12, xl: 12}">

              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
    <mat-card-actions class="btnCenter divBtnAgregar">
      <button mat-raised-button color="primary" *ngIf="( btnGrabar === valorMostrarOpcion ) || flagEvaluacion" [disabled]="btnGrabarContinuador" (click)="grabarContinuador()"> GRABAR
      </button>
      <button mat-raised-button *ngIf="( btnSalir === valorMostrarOpcion ) || flagEvaluacion" (click)="salirContinuador()"> SALIR </button>
    </mat-card-actions>
  </mat-card>
</div>
